/**
 * Display Item Block - Editor Styles
 */

.wp-block-ditty-display-item {
	position: relative;

	> * {
		margin: 0;
	}

	// Inner block styling
	.block-editor-inner-blocks {
		> .block-editor-block-list__layout {
			> .wp-block {
				margin: 0;
			}
		}
	}
}
