/**
 * Display Item Block - Editor Styles
 */

.wp-block-ditty-display-item {
	position: relative;
	> * {
		margin: 0;
	}
	> .ditty-display__item__elements {
		> .block-editor-block-list__layout {
			> .wp-block {
				margin: 0;
			}
		}
		> div:not([class]) {
			> * {
				margin: 0;
			}
		}
	}
}
