.dnt-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 40px;
	text-decoration: none;
	background: hsl(0, 0%, 96%);
	border: 1px solid #ddd;
	padding: 10px 15px;
	transition: color .25s ease, background-color .25s ease;
	&:hover,
	&:focus {
		outline: none;
		box-shadow: none;
		background: hsl(0, 0%, 94%);
	}
	&__icon {
		margin-right: 8px;
	}
}