/.vscode export-ignore
/.nova export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.json
/vendor/
/assets/src/ export-ignore
/assets/composer.json export-ignore
/assets/package.json export-ignore
/assets/package-lock.json export-ignore
/assets/webpack.config.js export-ignore
/includes/mtphr-settings-git/.gitignore export-ignore