/* General - 1.0.2
------------------------------------------------------------ */

.mtphr-dnt-metaboxer-admin-fields {
	padding-top: 10px;
}
.mtphr-dnt-metaboxer-loading-gif {
	opacity: 0;
}
.mtphr-dnt-metaboxer-appended {
	display: inline;
	margin-left: 20px;
}
.mtphr-dnt-metaboxer-widget-field {
	display: block;
	margin: 0 0 1em;
	padding: 0;
}

/* Fields */
.mtphr-dnt-metaboxer-field {
	/* margin-bottom: 20px; */
}
#side-info-column .mtphr-dnt-metaboxer-field {
	margin-bottom: 10px;
}
.mtphr-dnt-metaboxer-field:last-child {
	margin-bottom: 0;
}
.mtphr-dnt-metaboxer-field input[type="radio"] {
	margin-top:-1px;
}

/* Labels */
.mtphr-dnt-metaboxer-label {
	vertical-align: top;
	width: 20%;
	overflow: hidden;
	padding-bottom: 20px;
	padding-right: 20px;
}
.mtphr-dnt-metaboxer-label label {
	display: block;
	font-weight: bold;
	font-size: 12px;
}
.mtphr-dnt-metaboxer-label small {
	font-size: 10px;
	font-style: italic;
}
#side-sortables .mtphr-dnt-metaboxer-label {
	width: auto;
	margin: 0;
	padding: 0;
}

/* Content */
.mtphr-dnt-metaboxer-field-content {
	width: 80%;
	vertical-align: top;
	padding-bottom: 10px;
}
#mtphr_dnt_global_settings .mtphr-dnt-metaboxer-field-content {
	padding-bottom: 0;
}
.mtphr-dnt-metaboxer-field-content-full {
	width: 100%;
}
.vertical .mtphr-dnt-metaboxer-field-content,
#side-sortables .vertical .mtphr-dnt-metaboxer-field-content {
	float: none;
	width: auto;
}

/* Clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* Checkbox
------------------------------------------------------------ */

.mtphr-dnt-metaboxer-checkbox input {
	margin-top: 0;
	margin-right: 1px;
}

/* Code - 1.0.1
------------------------------------------------------------ */

.mtphr-dnt-metaboxer-code pre {
	margin: 0 0 5px 0;
	padding: 10px;
	background: #FFF;
	border: 1px solid #EEE;
	white-space: normal;
	word-break: break-all;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mtphr-dnt-metaboxer-code pre p {
	margin: 0;
}

/* File
------------------------------------------------------------ */

.wp-core-ui .mtphr-dnt-metaboxer-file-upload {
	display: none;
}
.mtphr-dnt-metaboxer-file-table {
	width: 100%;
}
.mtphr-dnt-metaboxer-file-display a {
	display: block;
	margin: 0;
	padding: 10px;
	background: #FEFEFE;
	border: 1px solid #EEE;
	white-space: normal;
	text-decoration: none;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mtphr-dnt-metaboxer-file-display img {
	display: block;
	float: left;
	margin-right: 10px;
}
.mtphr-dnt-metaboxer-file-display span {
	text-decoration: none;
}
.mtphr-dnt-metaboxer-file-delete {
	width: 16px;
	padding-top: 4px !important;
}
.mtphr-dnt-metaboxer-file-delete a {
	display: block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	background: url(images/minus-circle.png) no-repeat top;
}
.mtphr-dnt-metaboxer-file-delete a:hover {
	background-position: 0 -16px;
}

/* Image
------------------------------------------------------------ */

.wp-core-ui .mtphr-dnt-metaboxer-image-upload {
	display: none;
}
.form-table td.mtphr-dnt-metaboxer-image-display {
	padding-left: 0;
	padding-right: 0;
}
.mtphr-dnt-metaboxer-image-display a {
	display: block;
	margin: 0;
	padding: 10px;
	background: #FEFEFE;
	border: 1px solid #EEE;
	white-space: normal;
	text-decoration: none;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mtphr-dnt-metaboxer-image-display img {
	display: block;
	padding: 5px;
}
.mtphr-dnt-metaboxer-image-display span {
	text-decoration: none;
}
.mtphr-dnt-metaboxer-image-delete {
	width: 16px;
	padding-top: 4px !important;
}
.mtphr-dnt-metaboxer-image-delete a {
	display: block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	background: url(images/minus-circle.png) no-repeat top;
}
.mtphr-dnt-metaboxer-image-delete a:hover {
	background-position: 0 -16px;
}



/* Image Select
------------------------------------------------------------ */

.mtphr-dnt-metaboxer-image-select {
	margin-bottom: 10px;
}
a.mtphr-dnt-metaboxer-image-select-link {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	text-decoration: none;
}
a.mtphr-dnt-metaboxer-image-select-link small {
	display: block;
	text-align: center;
	font-weight: bold;
	color: #333;
}
a.mtphr-dnt-metaboxer-image-select-link img {
	opacity: .5;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	-ms-transition: opacity .2s linear;
	transition: opacity .2s linear;
}
a.mtphr-dnt-metaboxer-image-select-link.selected img {
	opacity: 1;
}

/* List - 1.0.1
------------------------------------------------------------ */

.mtphr-dnt-metaboxer-list > table {
	width: 100%;
}
.mtphr-dnt-metaboxer-list th,
.mtphr-dnt-metaboxer-list td {
	text-align: left;
	vertical-align: top;
	padding: 0 3px;
}
.mtphr-dnt-metaboxer-list input[type="text"],
.mtphr-dnt-metaboxer-list input[type="number"],
.mtphr-dnt-metaboxer-list input[type="email"],
.mtphr-dnt-metaboxer-list input[type="password"],
.mtphr-dnt-metaboxer-list textarea {
	width: 100%;
}
.mtphr-dnt-metaboxer-list-item-handle,
.mtphr-dnt-metaboxer-list-item-add,
.mtphr-dnt-metaboxer-list-item-delete {
	width: 16px;
	padding-top: 4px !important;
}
.mtphr-dnt-metaboxer-list td.mtphr-dnt-metaboxer-list-item-handle {
	padding-left: 0;
}
.mtphr-dnt-metaboxer-list td.mtphr-dnt-metaboxer-list-item-add,
.mtphr-dnt-metaboxer-list td.mtphr-dnt-metaboxer-list-item-delete {
	padding-right: 0;
}
.mtphr-dnt-metaboxer-list-item-handle span,
.mtphr-dnt-metaboxer-list-item-add a,
.mtphr-dnt-metaboxer-list-item-delete a {
	display: block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
}
.mtphr-dnt-metaboxer-list-item-handle span {
	background: url(images/arrow-resize-090.png) no-repeat top;
}
.mtphr-dnt-metaboxer-list-item-add a {
	background: url(images/plus-circle.png) no-repeat top;
}
.mtphr-dnt-metaboxer-list-item-delete a {
	background: url(images/minus-circle.png) no-repeat top;
}
.mtphr-dnt-metaboxer-list-item-handle span:hover,
.mtphr-dnt-metaboxer-list-item-add a:hover,
.mtphr-dnt-metaboxer-list-item-delete a:hover {
	background-position: 0 -16px;
}

/* Radio
------------------------------------------------------------ */

.mtphr-team-members-metaboxer-radio input {
	margin-top: 0;
	margin-right: 1px;
}

/* Sorts
------------------------------------------------------------ */

.mtphr-dnt-metaboxer-sort td {
	padding: 6px 3px;
	border-bottom: 1px dashed #CCC;
}
.mtphr-dnt-metaboxer-sort td.mtphr-dnt-metaboxer-sort-name {
	font-weight: bold;
	padding-right: 10px;
}
.mtphr-dnt-metaboxer-sort td.mtphr-dnt-metaboxer-sort-item-handle {
	width: 16px;
	padding-top: 2px !important;
	border: none;
}
.mtphr-dnt-metaboxer-sort-item-handle span {
	display: block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	background: url(images/arrow-resize-090.png) no-repeat top;
}
.mtphr-dnt-metaboxer-sort-item-handle span:hover {
	background-position: 0 -16px;
}

/* Textarea - 1.0.1
------------------------------------------------------------ */

.mtphr-dnt-metaboxer-textarea textarea {
	width: 96%;
}

/* WYSIWYG
------------------------------------------------------------ */

.mtphr-dnt-metaboxer-wysiwyg-placeholder {
	background: #EFEFEF;
	border: 1px dashed #CCC;
	padding: 30px;
	margin-bottom: 10px;
}
.mtphr-dnt-metaboxer-wysiwyg {
	max-width: 800px;
}
.mtphr-dnt-metaboxer-wysiwyg .mceContentBody {
	background: #FFF;
}

