.ditty-editor-display {
	cursor: pointer;
	&:not( .active ) {
		&:hover {
			.ditty-data-list__item__edit {
				display: none;
			}
		}
	}
	&--default {
		.ditty-data-list__item__delete {
			display: none !important;
		}
	}
	&.active {
		.ditty-data-list__item__delete {
			display: none;
		}
		&:hover {
			.ditty-data-list__item__delete {
				display: none;
			}
		}
	}
	&--default {
		background-color: #CCC;
	}
	.ditty-data-list {
		max-height: calc( 100vh - 470px );
		min-height: 300px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}
#ditty-editor__settings .ditty-display-type-options--ticker .ditty-input--group__container > .ditty-field {
	&.ditty-field--minHeight {
		width: 50%;
		padding-right: 7.5px;
	}
	&.ditty-field--maxHeight {
		width: 50%;
		padding-left: 7.5px;
	}
	&.ditty-field--titleFontSize {
		width: 50%;
		padding-right: 7.5px;
	}
	&.ditty-field--titleLineHeight {
		width: 50%;
		padding-left: 7.5px;
	}
}