.ditty-editor-layout {
	cursor: pointer;
	&:not( .active ) {
		&:hover {
			.ditty-data-list__item__edit_html,
			.ditty-data-list__item__edit_css,
			.ditty-data-list__item__save {
				display: none;
			}
		}
	}
	&.active {
		.ditty-data-list__item__delete {
			display: none;
		}
		&:hover {
			.ditty-data-list__item__delete {
				display: none;
			}
		}
	}
}
.ditty-layout-variation {
	padding: 5px 8px 0 10px;
	&__icon {
		i {
			width: 40px;
			height: 40px;
			font-size: 20px;
			line-height: 40px;
		}
	}
	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 5px 0 5px;
	}
	&__label {
		display: block;
		font-weight: bold;		
		margin-bottom: 5px;
	}
	&__template {
		display: block;
		margin-bottom: 5px;
	}
	&__buttons {
		flex: 0 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		a {
			display: block;
		}
	}
	a {
		&.ditty-layout-variation__change {
			flex: 0 0 auto;
			display: block;
			i {
				width: 30px;
				height: 30px;
				font-size: 20px;
				line-height: 30px;
				color: #444;
			}
		}
	}
}