.ditty-page {
  background: #fff;
  overflow: hidden;
  #wpcontent {
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }
  #wpbody {
    flex: 1;
    width: 100%;
  }
  #wpbody-content {
    padding: 0;
    float: none;
  }
  #menu-posts-ditty {
    > .wp-submenu-wrap {
      border-left: 0;
    }
  }
}
// .admin_page_ditty,
// .admin_page_ditty-new {
//   #menu-posts-ditty {
//     a[href="edit.php?post_type=ditty"] {
//       color: #fff;
//       font-weight: 600;
//     }
//   }
// }
// .admin_page_ditty_display,
// .admin_page_ditty_display-new {
//   #menu-posts-ditty {
//     > a {
//       position: relative;
//       background: #2271b1;
//       color: #fff;
//       &:after {
//         right: 0;
//         border: solid 8px transparent;
//         content: " ";
//         height: 0;
//         width: 0;
//         position: absolute;
//         pointer-events: none;
//         border-right-color: #fff;
//         top: 50%;
//         margin-top: -8px;
//       }
//     }
//     .menu-icon-ditty div.wp-menu-image.svg {
//       color: #fff;
//       background-size: 16px auto;
//     }
//     a[href="edit.php?post_type=ditty_display"] {
//       color: #fff;
//       font-weight: 600;
//     }
//   }
// }
// @media only screen and (max-width: 960px) {
//   .auto-fold {
//     &.admin_page_ditty_display,
//     &.admin_page_ditty_display-new {
//       #menu-posts-ditty {
//         > a:after {
//           border-width: 4px;
//           margin-top: -4px;
//         }
//       }
//     }
//   }
// }
// @media only screen and (min-width: 961px) {
//   .admin_page_ditty_display,
//   .admin_page_ditty_display-new {
//     #menu-posts-ditty {
//       > .wp-submenu {
//         position: relative;
//         z-index: 3;
//         top: auto;
//         left: auto;
//         right: auto;
//         bottom: auto;
//         border: 0 none;
//         margin-top: 0;
//         box-shadow: none;
//       }
//     }
//   }
// }

.ditty-adminPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  .admin-bar & {
    height: calc(100vh - 32px);
  }
  &__app {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    height: calc(100% - 100px);
    &__sidebar {
      position: relative;
      width: 350px;
      height: 100%;
      background: #fff;
      border-right: 1px solid #ccc;
      box-sizing: border-box;
    }
    &__content {
      flex: 1;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    &__sizer {
      position: absolute;
      top: 0;
      left: -5px;
      z-index: 9;
      width: 5px;
      height: 100%;
      background: transparentize($border_color_dark, 0.8);
      cursor: ew-resize;
      transition: background-color 0.25s ease;
      &:hover {
        background-color: $border_color_dark;
      }
    }
  }
  .Toastify__toast {
    background-color: #fff;
    .ditty-logo {
      fill: $green;
    }
  }
  .Toastify__progress-bar {
    background: $green;
  }
}
.admin-bar .ditty-adminPage {
  .Toastify__toast-container--top-right {
    top: calc(1em + 32px);
  }
}
@media screen and (max-width: 782px) {
  .ditty-adminPage {
    .admin-bar & {
      height: calc(100vh - 46px);
    }
  }
  .admin-bar .ditty-adminPage {
    .Toastify__toast-container--top-right {
      top: calc(1em + 46px);
    }
  }
}
@media screen and (min-width: 782px) {
  .ditty-adminPage {
    .admin-bar & {
      height: calc(100vh - 46px);
    }
  }
}
