$dark_gray: #1d2327;
$medium_gray: #323438;
$gray: #ccc;
$light_gray: #f0f0f1;
$lighter_gray: #f7f7f7;

$green: #19bf7c;
$dark_green: #394b40;
$muted_green: #9cb0a4;
$light_green: lighten($green, 53%);
$light_green_hover: lighten($green, 49%);

$blue: #00bdfd;
$dark_blue: #0087c4;

$red: #be1919;

$border_color_light: #ccc;
$border_color_dark: #aaa;

$input_border_color: #dfdfdf;
