.editLayout__variations {
  padding: 10px;
}
.editLayout__variation {
  border: 1px solid $border_color_light;
  border-radius: 3px;
  margin-bottom: 3px;
}
.ditty-popup--editLayout {
  .ditty-popup__header {
    padding: 0;
    .ditty-icon-block--heading {
      align-items: center;
    }
  }
  .ditty-tabs {
    border-top: 1px solid $border_color_light;
    padding: 10px;
  }
}
.editLayout__tagCloud {
  padding: 15px;
  border-bottom: 1px solid $border_color_light;
  h3 {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }
  p {
    margin-top: 0;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  &__tags {
    span {
      font-size: 12px;
      line-height: 12px;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      padding: 3px 5px;
      cursor: pointer;
      transition: background-color 0.25s ease;
      &:hover {
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }
}
.ditty-layout-variation--heading {
  align-items: center;
  background: #eee;
  margin: 0 0 10px;
  padding: 10px;
  .ditty-icon-block__icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .ditty-icon-block--heading__title {
    margin: 0;
  }
  h3 {
    font-size: 15px;
    margin: 0;
  }
}

// Layout Attribute
.ditty-field--layoutTagField {
  .ditty-field-list & {
    padding: 0;
    border-bottom: none;
  }
  > .ditty-field__heading {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #fbfbfb;
    border-bottom: 1px solid $input_border_color;
    gap: 10px;
    + .ditty-field__input__container {
      margin-top: 0;
    }
  }
  > .ditty-field__input__container {
    padding-left: 15px;
    background: $light_gray;
    > .ditty-field__input--group {
      background: #fff;
    }
  }
  .layoutTagEnabled {
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: $gray;
    cursor: pointer;
  }
  .layoutAttributeCustomized {
    width: 25px;
    height: 25px;
    color: $gray;
    cursor: pointer;
  }
  .layoutTagActions {
    flex: 0 0 auto;
    margin-left: auto;
    span {
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      cursor: pointer;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.05);
      transition:
        background-color 0.25s ease,
        color 0.25s ease,
        transform 0.25s ease;
    }
  }
  &:not(.is-disabled) {
    .layoutTagEnabled {
      color: $green;
    }
    .layoutTagAction__enable {
      color: #fff;
      background: $green;
    }
  }
  &.is-disabled {
    .layoutTagAction__disable {
      color: #fff;
      background: $red;
    }
  }
  &.is-open {
    .layoutTagAction__customize {
      transform: rotate(135deg);
    }
  }
  &.is-customized {
    .layoutTagAction__customize {
      color: #fff;
      background: $blue;
    }
  }
}
.ditty-layout-attribute-field {
  position: relative;
  > .ditty-field__contents {
    padding-left: 36px;
  }
  > .ditty-field__before {
    position: absolute;
    top: 12px;
    left: 15px;
    svg,
    i {
      color: $gray;
    }
    i {
      font-size: 25px;
    }
  }
  &--custom {
    > .ditty-field__before {
      svg,
      i {
        color: $green;
      }
    }
  }
}
.ditty-editor__panel--editLayout {
  .ditty-editor__panel__header {
    padding: 0;
    .ditty-tabs {
      border-top: 1px solid #ccc;
      border-bottom: none;
    }
  }
  .editLayout__tagCloud {
    padding: 0;
    border: none;
  }
}
.ditty-editor__panel--editLayoutItem {
  .ditty-editor__panel__header {
    padding: 0;
  }
}
