/**
 * Ditty Display Title Block - Editor Styles
 */

.wp-block-ditty-display-title {
	margin: 0;

	span[contenteditable] {
		display: block;
		outline: none;
	}

	// When hidden via context
	&[style*='display: none'] {
		opacity: 0.3;
		display: block !important;

		&::after {
			content: ' (hidden)';
			font-size: 0.75em;
			font-style: italic;
			opacity: 0.7;
		}
	}
}
