#ditty-settings {
  background: $light_gray;
  &__navigation {
    background: #fff;
    border: none;
    .ditty-tabs--list {
      padding: 15px;
      background: transparent;
      .ditty-tab {
        background: transparent;
        &--active {
          background: $light_green;
        }
        &:not(.ditty-tab--active):hover {
          color: $green;
          //background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  &__content {
    padding: 15px;
    .ditty-field-list {
      background: #fff;
      min-height: 100%;
      border-radius: 5px;
    }
  }
}
@media screen and (max-width: 782px) {
  #ditty-settings {
    flex-direction: row;
    &__navigation {
      width: 44px;
      flex: 0 0 44px;
      .ditty-tabs--list {
        .ditty-tab {
          padding: 10px 4px 10px 14px;
          width: auto;
          &__label {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 782px) {
  #ditty-settings {
    &__navigation {
      width: 250px;
    }
  }
}
