.ditty-edit-item-type--wp_editor {
  &.ditty-edit-item-type--wp_editor--settings {
    .ditty-field-id--content {
      padding: 0;
    }
    // .ditty-field-list {
    //   display: flex;
    //   flex-direction: column;
    //   min-height: 100%;
    //   > .ditty-field-list__heading {
    //     flex: 0 0 auto;
    //   }
    // }
    // .ditty-field-id--content {
    //   flex: 1;
    //   height: 100%;
    //   padding: 0;
    //   background: green;
    // }
    // .mce-tinymce {
    //   height: 100%;
    //   > .mce-container-body {
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     > .mce-top-part {
    //       flex: 0 0 auto;
    //     }
    //     > .mce-edit-area {
    //       flex: 1;
    //       > iframe {
    //         height: 100%;
    //       }
    //     }
    //   }
    // }
  }
}
.ditty-edit-item-type--html {
  &.ditty-edit-item-type--html--settings {
    .ditty-field-list {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .ditty-field-list__heading {
      flex: 0 0 auto;
    }
    .ditty-field-id--content {
      flex: 1;
      padding: 0;
    }
  }
}
