#adminmenu .menu-icon-ditty div.wp-menu-image.svg {
  background-size: 16px auto;
}
.fusion-module-icon.ditty {
  width: 15px;
  height: 15px;
  background: url("../img/d.svg");
  margin-bottom: -2px;
}
.ditty-menu--ditty,
.ditty-menu--ditty-new,
.ditty-menu--ditty_display,
.ditty-menu--ditty_display-new,
.ditty-menu--ditty_layout,
.ditty-menu--ditty_layout-new {
  display: none;
}
.ditty-page--ditty {
  #adminmenu {
    li.ditty-menu--edit-phppost_typeditty {
      > a {
        font-weight: 600;
        color: #fff;
      }
    }
  }
}
.ditty-page--layout {
  #adminmenu {
    li.ditty-menu--edit-phppost_typeditty_layout {
      > a {
        font-weight: 600;
        color: #fff;
      }
    }
  }
}
.ditty-page--display {
  #adminmenu {
    li.ditty-menu--edit-phppost_typeditty_display {
      > a {
        font-weight: 600;
        color: #fff;
      }
    }
  }
}
#adminmenu {
  li.ditty-menu--edit-phppost_typeditty_news_ticker {
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid#1D2327;
    padding-top: 8px !important;
    margin-top: 8px;
  }

  li.ditty-menu--mtphr_dnt_settings {
    background: rgba(255, 255, 255, 0.1);
    padding-bottom: 8px !important;
    margin-bottom: -8px !important;
  }
}
