.ditty-tabs {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  //gap: 1px;
  height: 40px;
  font-size: 14px;
  background: #e8e9eb;
}
.ditty-tab {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  color: #616970;
  background: #f2f3f5;
  border-radius: 0;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition:
    color 0.25s ease,
    background-color 0.25s ease;
  &:hover {
    &:not(.ditty-tab--active) {
      color: #fff;
      background-color: $green;
    }
  }
  &--active {
    color: $green;
    background-color: #fff;
  }
  &__icon {
    flex: 0 0 auto;
    display: block;
    font-size: 18px;
    svg {
      fill: currentColor;
    }
  }
  &__label {
    flex: 1;
  }
}
.ditty-tabs--primary {
  height: 60px;
  background: $dark_gray;
  .ditty-tab {
    width: 62px;
    color: rgba(255, 255, 255, 0.8);
    background: $dark_gray;
    &__label {
      display: none;
    }
    &:hover {
      &:not(.ditty-tab--active) {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    &--active {
      width: auto;
      color: #fff;
      background-color: $green;
      padding-left: 30px;
      padding-right: 30px;
      .ditty-tab__label {
        display: block;
      }
      .ditty-tab__icon {
        display: none;
      }
    }
  }
}
.ditty-tabs--secondary {
  background: #f2f3f5;
  border-bottom: 1px solid #ccc;
}
.ditty-tabs--cloud {
  gap: 5px;
  flex-wrap: wrap;
  height: auto;
  background: #fff;
  color: $dark_gray;
  .ditty-tab {
    width: 70px;
    height: 60px;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    color: transparentize($dark_gray, 0.2);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 5px;
    &:hover {
      &:not(.ditty-tab--active) {
        color: $dark_gray;
        background: rgba(0, 0, 0, 0.1);
      }
    }
    &--active {
      background: $green;
      .ditty-tab__icon {
        display: block;
        color: #fff;
      }
      .ditty-tab__label {
        color: #fff;
      }
    }
    &__icon {
      height: 20px;
      flex: 0 0 auto;
      svg {
        height: 20px;
      }
    }
    &__label {
      display: block;
      font-size: 11px;
      font-weight: 400;
      margin-top: 5px;
      flex: 0 0 auto;
    }
    &.ditty-preview {
      color: transparentize($dark_gray, 0.5);
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      &:hover {
        &:not(.ditty-tab--active) {
          color: $dark_gray;
          background: #fff;
          border-color: rgba(0, 0, 0, 0.2);
        }
      }
      &.ditty-tab--active {
        color: $dark_gray;
        background: #fff;
        border-color: rgba(0, 0, 0, 0.2);
        .ditty-tab__icon,
        .ditty-tab__label {
          color: $dark_gray;
        }
      }
    }
  }
}
.ditty-tabs--list {
  flex-direction: column;
  align-items: stretch;
  height: auto;
  .ditty-tab {
    height: 54px;
    justify-content: flex-start;
    padding: 17px 15px;
    border-radius: 3px;
    &__icon {
      width: 30px;
      text-align: left;
      font-size: 16px;
    }
    &__label {
      text-align: left;
      font-weight: 400;
    }
    &--active {
      .ditty-tab__label {
        font-weight: 500;
      }
    }
  }
}
