/* Table of Contents

* Dashboard Menu Icon
* Edit Screen

*/

/* Dashboard Menu Icon
------------------------------------------------------------ */

#menu-posts-ditty_news_ticker .wp-menu-image:before {
	font-family: "ditty-news-ticker" !important;
	font-size: 18px !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "a" !important;
}


/* Edit Screen
------------------------------------------------------------ */

.column-dnt_type,
.column-dnt_mode {
	width: 10%;
}
.column-dnt_shortcode pre,
.column-dnt_shortcode p,
.column-dnt_function pre,
.column-dnt_function p {
	margin: 0 !important;
}
.column-dnt_shortcode pre,
.column-dnt_function pre {
	padding: 10px;
	background: #FFF;
	border: 1px solid #EEE;
}

.mtphr-dnt-metaboxer_mtphr_dnt_ticks-tick .wp-editor-wrap {
	margin-bottom: 10px;
}

/* --------------------------------------------------------- */
/* !Settings pages */
/* --------------------------------------------------------- */

.ditty_news_ticker_page_mtphr_dnt_settings .form-table {
	max-width: 1000px;
	background: #FFF;
	border: 1px solid #dfdfdf;
	margin-top: 0;
	margin-bottom: 10px;
}
.ditty_news_ticker_page_mtphr_dnt_settings .form-table > tbody > tr > th {
	background: #fefefe;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #f7f7f7;
	padding-left: 10px;
}
.ditty_news_ticker_page_mtphr_dnt_settings .form-table > tbody > tr > td {
	border-bottom: 1px solid #f7f7f7;
}
.ditty_news_ticker_page_mtphr_dnt_settings .form-table > tbody > tr:last-child th,
.ditty_news_ticker_page_mtphr_dnt_settings .form-table > tbody > tr:last-child td {
	border-bottom: none;
}
.ditty_news_ticker_page_mtphr_dnt_settings #wpbody-content h3 {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	max-width: 1000px;
	background: #fafafa;
	border: 1px solid #dfdfdf;
	border-bottom-width: 0;
	padding: 10px;
	margin-bottom: 0;
}
.ditty_news_ticker_page_mtphr_dnt_settings #wpbody-content h3 input {
	float: right;
	font-weight: normal;
	margin-top: -4px;
}
.ditty_news_ticker_page_mtphr_dnt_settings #wpbody-content h3 + p {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	max-width: 1000px;
	background: #fafafa;
	border: 1px solid #dfdfdf;
	border-top-width: 0;
	border-bottom-width: 0;
	padding: 0 10px 10px;
	margin: 0;
}
.ditty_news_ticker_page_mtphr_dnt_settings .form-table table th,
.ditty_news_ticker_page_mtphr_dnt_settings .form-table table td {
	padding: 2px;
}
.ditty_news_ticker_page_mtphr_dnt_settings .form-table input[type="text"],
.ditty_news_ticker_page_mtphr_dnt_settings .form-table textarea {
	width: 100%;
}


/* --------------------------------------------------------- */
/* !Table */
/* --------------------------------------------------------- */

.mtphr-dnt-table {
	width: 100%;
	border-spacing: 0;
	margin-top: 12px;
}
.mtphr-dnt-table > tbody > tr > td {
	text-align: left;
	vertical-align: top;
	background: #fcfcfc;
	border-bottom: 1px solid #e9e9e9;
	padding: 10px 2px;
}
.mtphr-dnt-table > tbody > tr:first-child > td {
	border-top: 1px solid #dfdfdf;
}
.mtphr-dnt-table > tbody > tr:last-child > td,
.mtphr-dnt-table > tbody > tr:last-child > td.mtphr-dnt-label {
	border-bottom-color: #dfdfdf;
}
.mtphr-dnt-table > tbody > tr > td.mtphr-dnt-label {
	width: 20%;
	max-width: 200px;
	background: #f5f5f5;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #e9e9e9;
}
.mtphr-dnt-table > tbody > tr > td:last-child,
.mtphr-dnt-table > tbody > tr > td.mtphr-dnt-label {
	border-right: 1px solid #dfdfdf;
}
.mtphr-dnt-table > tbody > tr > td:first-child,
.mtphr-dnt-table > tbody > tr > td.mtphr-dnt-label + td {
	padding-left: 10px;
}
.mtphr-dnt-table > tbody > tr > td:last-child,
.mtphr-dnt-table > tbody > tr > td.mtphr-dnt-label {
	padding-right: 10px;
}
.mtphr-dnt-table > tbody > tr > td.mtphr-dnt-no-label {
	border-left: 1px solid #dfdfdf;
}
.mtphr-dnt-table label {
	display: inline-block;
	margin: 0 10px 10px 0;
}
.mtphr-dnt-table label.checkbox-label {
	font-weight: normal;
	margin: 0;
}
.mtphr-dnt-table input[type="text"],
.mtphr-dnt-table textarea {
	width: 100%;
}
.mtphr-dnt-table input[type="number"] {
	width: 60px;
}
.mtphr-dnt-table .mceIframeContainer {
	background: #FFF;
}
.mtphr-dnt-label-alt {
	display: block;
	width: auto;
	padding-right: none !important;
	margin-bottom: 5px;
}
.mtphr-dnt-label label,
.mtphr-dnt-label-alt label {
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin: 0;
}
.mtphr-dnt-label small,
.mtphr-dnt-label-alt small {
	display: block;
	font-size: 10px;
	line-height: 13px;
	font-style: italic;
}
.mtphr-dnt-radio,
.mtphr-dnt-table label.mtphr-dnt-radio {
	font-weight: normal;
	margin-right: 8px;
	margin-left: 2px;
}
.mtphr-dnt-radio input,
.mtphr-dnt-table label.mtphr-dnt-radio input {
	margin-top: -1px;
	margin-right: 2px;
}
.mtphr-dnt-checkbox,
.mtphr-dnt-table label.mtphr-dnt-checkbox {
	font-weight: normal;
	margin-right: 8px;
	margin-left: 1px;
}
.mtphr-dnt-checkbox input,
.mtphr-dnt-table label.mtphr-dnt-checkbox input {
	margin-top: 0;
	margin-right: 2px;
}
p.mtphr-dnt-side-label {
	font-weight: bold;
	margin-top: .5em;
}


/* --------------------------------------------------------- */
/* !Instruction Info */
/* --------------------------------------------------------- */

.ditty_news_ticker_page_mtphr_dnt_settings .form-table table.mtphr-dnt-instructions {
	width: 100%;
	border-spacing: 0;
}
.ditty_news_ticker_page_mtphr_dnt_settings .form-table table tr.mtphr-dnt-instruction:hover td {
	background: #f7f7f7;
}
.ditty_news_ticker_page_mtphr_dnt_settings .form-table table td.mtphr-dnt-instruction-label {
	text-align: center;
	line-height: 24px;
	padding-right: 8px;
	padding: 8px 10px 10px;
}
.ditty_news_ticker_page_mtphr_dnt_settings .form-table table td.mtphr-dnt-instruction-info {
	line-height: 24px;
	padding: 8px 10px 10px 0;
}
.mtphr-dnt-instruction-number {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #222;
	margin: 0;
}
.mtphr-dnt-instruction-info-wrapper {
	border-left: 1px solid #dfdfdf;	
	padding-left: 12px;
}
.mtphr-dnt-instruction-info pre {
	margin: 0;
}


/* --------------------------------------------------------- */
/* !Settings select - 1.3.3 */
/* --------------------------------------------------------- */

#ditty-news-ticker-settings-select {
	margin: 0 -5px 10px;
}
#ditty-news-ticker-settings-select table {
	width: 100%;
	border-spacing: 5px;
}
#ditty-news-ticker-settings-select td {
	vertical-align: top;
	background: #FFF;
	border: 1px solid #dfdfdf;
}
#ditty-news-ticker-settings-select h2 {
	margin: 0;
}
#ditty-news-ticker-settings-select p {
	margin: 0;
}
#ditty-news-ticker-type-select > .wrapper,
#ditty-news-ticker-mode-select > .wrapper {
	padding: 10px;
}
#ditty-news-ticker-type-select h2 a {
	font-size: 18px;
	line-height: 18px;
}
#ditty-news-ticker-settings-select .mtphr-dnt-metabox-toggle {
	padding: 10px 0 0;
}
#ditty-news-ticker-settings-select .mtphr-dnt-metabox-toggle a {
	margin: 0 0 3px 0;
}


/* --------------------------------------------------------- */
/* !Code copy - 1.4.0 */
/* --------------------------------------------------------- */

#ditty-news-ticker-code-copy {
	margin: 10px -5px -5px;
}
#ditty-news-ticker-code-copy table {
	width: 100%;
	border-spacing: 5px;
}
#ditty-news-ticker-code-copy td {
	vertical-align: top;
	background: #f5f5f5;
	border: 1px solid #dfdfdf;
}
#ditty-news-ticker-code-copy h3 {
	padding: 0;
	margin-bottom: 0;
}
#ditty-news-ticker-code-copy p {
	margin: 0 0 8px;
}
#ditty-news-ticker-shortcode-copy > .wrapper,
#ditty-news-ticker-function-copy > .wrapper {
	padding: 10px;
}
#ditty-news-ticker-code-copy pre {
	margin: 0 0 5px 0;
	padding: 10px;
	background: #FFF;
	border: 1px solid #EEE;
	white-space: normal;
	word-break: break-all;
}
#ditty-news-ticker-code-copy pre p {
	margin-bottom: 0;
}


/* --------------------------------------------------------- */
/* !List elements */
/* --------------------------------------------------------- */

.mtphr-dnt-list {
	width: 100%;
}
.mtphr-dnt-list th {
	text-align: left;
}
.mtphr-dnt-list td {
	padding: 2px;
}
.mtphr-dnt-list-handle,
.mtphr-dnt-list-add,
.mtphr-dnt-list-delete {
	width: 16px;
}
.mtphr-dnt-list-handle {
	padding-left: 0;
}
.mtphr-dnt-list-add,
.mtphr-dnt-list-delete {
	padding-right: 0;
}
.mtphr-dnt-list-handle span,
.mtphr-dnt-list-handle a,
.mtphr-dnt-list-add a,
.mtphr-dnt-list-delete a {
	font-family: "ditty-news-ticker" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
	display: block;
	width: 16px;
	height: 16px;
	font-size: 18px;
	line-height: 16px;
	text-align: center;
	color: #444;
	text-decoration: none;
}
.mtphr-dnt-list-handle span {
	font-size: 16px;
}
.mtphr-dnt-list-handle span:before {
	content: "b";
}
	.mtphr-dnt-list-handle span:hover {
		color: #1e8cbe;
		cursor: ns-resize;
	}
.mtphr-dnt-list-add a:before {
	content: "c";
}
	.mtphr-dnt-list-add a:hover {
		color: #00a651;
	}
.mtphr-dnt-list-delete a:before {
	content: "d";
}
	.mtphr-dnt-list-delete a:hover {
		color: #ed1c24;
	}


.mtphr-dnt-list-item input[type="text"] {
	width: 100%;
}
.mtphr-dnt-add-spinner {
	float: none;
	margin: 0 0 0 5px;
}


/* --------------------------------------------------------- */
/* !Default list */
/* --------------------------------------------------------- */

.mtphr-dnt-default-list td {
	vertical-align: top;
}
.mtphr-dnt-default-target,
.mtphr-dnt-default-nofollow {
	width: 1px;
}
.mtphr-dnt-notice {
	font-weight: normal;
	font-style: italic;
	background: #f5f5f5;
	border-left: 4px solid #7ad03a;
	padding: 7px 10px;
	margin: 4px 0;
}
.mtphr-dnt-default-list .mtphr-dnt-list-handle span,
.mtphr-dnt-default-list .mtphr-dnt-list-delete a,
.mtphr-dnt-default-list .mtphr-dnt-list-add a {
	margin-top: 2px;
}


/* --------------------------------------------------------- */
/* !Mixed list */
/* --------------------------------------------------------- */

.mtphr-dnt-mixed-list input[type="number"]  {
	width: 60px;
}
.mtphr-dnt-list-item label {
	margin: 0;
}


/* --------------------------------------------------------- */
/* !CodeMirror */
/* --------------------------------------------------------- */

.mtphr-dnt-codemirror {
	border: 1px solid #dfdfdf;
	overflow: hidden;
}

