.ditty {
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.ditty-item__elements {
  max-width: 100%;
  box-sizing: border-box;
}
.ditty-item__elements * {
  box-sizing: border-box;
}
.ditty-item__wrapper {
  position: relative;
  overflow: hidden;
}

.ditty-ticker {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ditty-ticker * {
  box-sizing: border-box;
}
.ditty-ticker[data-title=top] .ditty-ticker__title, .ditty-ticker[data-title=bottom] .ditty-ticker__title {
  width: 100%;
}
.ditty-ticker[data-title=bottom] .ditty-ticker__title {
  order: 1;
}
.ditty-ticker[data-title=bottom] .ditty-ticker__contents {
  order: 0;
}
.ditty-ticker[data-title=left], .ditty-ticker[data-title=right] {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.ditty-ticker[data-title=left] .ditty-ticker__title, .ditty-ticker[data-title=right] .ditty-ticker__title {
  flex: 0 0 auto;
}
.ditty-ticker[data-title=left] .ditty-ticker__title__contents, .ditty-ticker[data-title=right] .ditty-ticker__title__contents {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.ditty-ticker[data-title=left][data-title=right] .ditty-ticker__title, .ditty-ticker[data-title=right][data-title=right] .ditty-ticker__title {
  order: 1;
}
.ditty-ticker[data-title=left][data-title=right] .ditty-ticker__contents, .ditty-ticker[data-title=right][data-title=right] .ditty-ticker__contents {
  order: 0;
}
.ditty-ticker[data-title_position=start] .ditty-ticker__title__contents {
  align-items: flex-start;
  justify-content: flex-start;
}
.ditty-ticker[data-title_position=center] .ditty-ticker__title__contents {
  align-items: center;
  justify-content: center;
}
.ditty-ticker[data-title_position=end] .ditty-ticker__title__contents {
  align-items: flex-end;
  justify-content: flex-end;
}
.ditty-ticker__title__contents {
  display: flex;
  flex-direction: row;
}
.ditty-ticker__contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ditty-ticker__items {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.ditty-ticker .ditty-item {
  display: none;
  position: absolute;
  line-height: 1;
  /*
  		&--current {
  			color: green;
  		}
  		&--last {
  			color: red;
  			&.ditty-item--current {
  				color: purple;
  			}
  		}
  */
}

.ditty-list {
  position: relative;
  box-sizing: border-box;
}
.ditty-list * {
  box-sizing: border-box;
}
.ditty-list .ditty-item {
  position: relative;
  display: block;
  max-width: 100%;
}
