.wp-admin.post-type-ditty .wrap {
  margin-right: 2px; }

.wp-admin.post-type-ditty #poststuff {
  min-width: inherit; }

.wp-admin.post-type-ditty #post-body-content {
  min-width: inherit; }

.wp-admin.post-type-ditty #post-body.columns-2 #postbox-container-1 {
  margin-right: -400px;
  width: 380px; }

.wp-admin.post-type-ditty #poststuff #post-body.columns-2 {
  margin-right: 400px; }
  .wp-admin.post-type-ditty #poststuff #post-body.columns-2 #side-sortables {
    width: 380px; }

.wp-admin.post-type-ditty #titlediv {
  display: none; }

@media only screen and (max-width: 850px) {
  .wp-admin.post-type-ditty #poststuff #post-body.columns-2 #side-sortables {
    width: auto; } }

.menu-icon-ditty .dashicons-before:before {
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px 17px;
  background-image: url("data:image/svg+xml,%3Csvg fill='%239EA3A8' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 69.3 71.1'%3E%3Cpath d='M0 46.4c0-17.2 8.6-29.1 24.6-29.1a19.9 19.9 0 0 1 6.6 1V0H45v59.2l1 10.3H34.2l-.9-5.2h-.5a15.2 15.2 0 0 1-13 6.8C3.8 71.1 0 58.4 0 46.4Zm31.2 7.4V28.6a13.7 13.7 0 0 0-6-1.3c-8.7 0-11.3 8.7-11.3 17.8s1.9 15.8 8.9 15.8c5.1 0 8.4-3.8 8.4-7.1ZM61.9 71.1a7 7 0 0 1-7.2-7.4c0-5 2.8-7.7 7.1-7.7s7.5 2.6 7.5 7.4-3.1 7.7-7.4 7.7ZM61.9 48.6a7 7 0 0 1-7.2-7.4c0-5 2.8-7.7 7.1-7.7s7.5 2.6 7.5 7.4-3.1 7.7-7.4 7.7ZM61.9 26.1a7 7 0 0 1-7.2-7.4c0-5 2.8-7.7 7.1-7.7s7.5 2.6 7.5 7.4-3.1 7.7-7.4 7.7Z'/%3E%3C/svg%3E"); }

.menu-icon-ditty:hover .dashicons-before:before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2372AEE6' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 69.3 71.1'%3E%3Cpath d='M0 46.4c0-17.2 8.6-29.1 24.6-29.1a19.9 19.9 0 0 1 6.6 1V0H45v59.2l1 10.3H34.2l-.9-5.2h-.5a15.2 15.2 0 0 1-13 6.8C3.8 71.1 0 58.4 0 46.4Zm31.2 7.4V28.6a13.7 13.7 0 0 0-6-1.3c-8.7 0-11.3 8.7-11.3 17.8s1.9 15.8 8.9 15.8c5.1 0 8.4-3.8 8.4-7.1ZM61.9 71.1a7 7 0 0 1-7.2-7.4c0-5 2.8-7.7 7.1-7.7s7.5 2.6 7.5 7.4-3.1 7.7-7.4 7.7ZM61.9 48.6a7 7 0 0 1-7.2-7.4c0-5 2.8-7.7 7.1-7.7s7.5 2.6 7.5 7.4-3.1 7.7-7.4 7.7ZM61.9 26.1a7 7 0 0 1-7.2-7.4c0-5 2.8-7.7 7.1-7.7s7.5 2.6 7.5 7.4-3.1 7.7-7.4 7.7Z'/%3E%3C/svg%3E"); }

.menu-icon-ditty.wp-has-current-submenu .dashicons-before:before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 69.3 71.1'%3E%3Cpath d='M0 46.4c0-17.2 8.6-29.1 24.6-29.1a19.9 19.9 0 0 1 6.6 1V0H45v59.2l1 10.3H34.2l-.9-5.2h-.5a15.2 15.2 0 0 1-13 6.8C3.8 71.1 0 58.4 0 46.4Zm31.2 7.4V28.6a13.7 13.7 0 0 0-6-1.3c-8.7 0-11.3 8.7-11.3 17.8s1.9 15.8 8.9 15.8c5.1 0 8.4-3.8 8.4-7.1ZM61.9 71.1a7 7 0 0 1-7.2-7.4c0-5 2.8-7.7 7.1-7.7s7.5 2.6 7.5 7.4-3.1 7.7-7.4 7.7ZM61.9 48.6a7 7 0 0 1-7.2-7.4c0-5 2.8-7.7 7.1-7.7s7.5 2.6 7.5 7.4-3.1 7.7-7.4 7.7ZM61.9 26.1a7 7 0 0 1-7.2-7.4c0-5 2.8-7.7 7.1-7.7s7.5 2.6 7.5 7.4-3.1 7.7-7.4 7.7Z'/%3E%3C/svg%3E"); }

table.wp-list-table .type-ditty_layout .row-actions {
  color: #999; }

.ditty_layout_ui--disabled #adminmenu .wp-submenu > li > a[href="edit.php?post_type=ditty_layout"] {
  display: none; }

.ditty_display_ui--disabled #adminmenu .wp-submenu > li > a[href="edit.php?post_type=ditty_display"] {
  display: none; }

.ditty-error-notice {
  line-height: 1.4em;
  font-weight: bold;
  color: #E1362E;
  background: #fbeaea;
  border: 1px solid #E1362E;
  border-radius: 3px;
  padding: 7px 10px; }

#adminmenu .wp-submenu > li > a[href="edit.php?post_type=ditty_news_ticker"],
#adminmenu .wp-submenu > li > a[href="edit.php?post_type=ditty&page=mtphr_dnt_settings"] {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: -5px 0 0 0 rgba(255, 255, 255, 0.1); }

#adminmenu .wp-submenu > li > a[href="edit.php?post_type=ditty_news_ticker"] {
  padding-top: 8px;
  margin-top: 8px; }

#adminmenu .wp-submenu > li > a[href="edit.php?post_type=ditty&page=mtphr_dnt_settings"] {
  padding-bottom: 8px;
  margin-bottom: -8px; }

.ditty-field {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .ditty-field:last-of-type {
    border-bottom: none; }
  .ditty-field__heading {
    position: relative; }
  .ditty-field__label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px; }
  .ditty-field__help {
    font-size: 0.8em; }
  .ditty-field__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    margin: 5px 0; }
    .ditty-field__input__container {
      position: relative; }
    .ditty-field__input__primary {
      flex: 1; }
    .ditty-field__input__before {
      flex: 0 0 auto;
      margin-right: 5px; }
    .ditty-field__input__after {
      margin-left: 5px; }
    .ditty-field__input input:not([type="button"]):not([type="checkbox"]):not([type="radio"]),
    .ditty-field__input select,
    .ditty-field__input textarea {
      width: 100%;
      min-height: 0;
      font-size: 14px;
      line-height: 24px;
      border: 1px solid #dfdfdf;
      border-radius: 3px;
      padding: 5px 10px;
      margin: 0; }
    .ditty-field__input input[type="number"] {
      width: auto; }
    .ditty-field__input textarea {
      padding: 10px 10px; }
    .ditty-field__input:hover .ditty-field__actions {
      display: flex; }
    .ditty-field__input__actions {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      background: #FFF;
      border: 1px solid #dfdfdf;
      padding: 3px;
      border-radius: 3px;
      margin-bottom: 3px; }
      .ditty-field__input__actions a {
        display: block;
        flex: 0 0 auto;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.4);
        margin: 0 2px;
        overflow: hidden;
        transition: color 0.25s ease; }
        .ditty-field__input__actions a.ditty-field__input__action--arrange {
          margin-right: auto; }
        .ditty-field__input__actions a:hover {
          color: rgba(0, 0, 0, 0.7); }
          .ditty-field__input__actions a:hover i {
            -webkit-transform: scale(1.2);
                    transform: scale(1.2); }
      .ditty-field__input__actions i {
        display: block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .ditty-field__actions__clone {
    margin-bottom: 0; }

.ditty-field__label + .ditty-field__description {
  margin-top: 5px; }

.ditty-field--clone-enabled .ditty-input--clone {
  background: #f7f7f7;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 5px; }

.ditty-field--clone-enabled[data-input_count="1"] > .ditty-field__input__container > .ditty-field__input > .ditty-field__input__actions .ditty-field__input__action--arrange,
.ditty-field--clone-enabled[data-input_count="1"] > .ditty-field__input__container > .ditty-field__input > .ditty-field__input__actions .ditty-field__input__action--remove {
  display: none; }

.ditty-field--clone-enabled.ditty-field--clone-enabled--max > .ditty-field__clone {
  display: none; }

.ditty-field--clone-enabled.ditty-field--clone-enabled--max > .ditty-field__input__container > .ditty-field__input__container > .ditty-field__input > .ditty-field__input__actions .ditty-field__input__action--add,
.ditty-field--clone-enabled.ditty-field--clone-enabled--max > .ditty-field__input__container > .ditty-field__input__container > .ditty-field__input > .ditty-field__input__actions .ditty-field__input__action--clone {
  display: none; }

/* Group */
.ditty-field-type--group {
  padding: 0;
  border-color: rgba(0, 0, 0, 0.05); }
  .ditty-field-type--group > .ditty-field__input__container {
    overflow: hidden; }
  .ditty-field-type--group .ditty-input--group__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap; }
  .ditty-field-type--group > .ditty-field__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
    background: #32373C;
    padding: 15px;
    margin: 0; }
    .ditty-field-type--group > .ditty-field__heading label {
      margin-bottom: 0; }
  .ditty-field-type--group .ditty-field__collapsible-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: -10px;
    color: #FFF;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease; }
  .ditty-field-type--group[data-collapsible="expanded"] .ditty-field__collapsible-toggle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.ditty-input--group {
  margin: 0; }
  .ditty-input--group__container > .ditty-field {
    width: 100%; }

.ditty-field-type--group-child {
  margin: 0;
  padding: 8px;
  border-bottom: none; }

/* Checkboxes */
.ditty-field-type--checkboxes > .ditty-field__input {
  margin: -2px; }

.ditty-field-type--checkboxes .ditty-input--checkboxes__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .ditty-field-type--checkboxes .ditty-input--checkboxes__group > .ditty-field {
    margin: 2px; }

.ditty-field-type--checkboxes input[type="checkbox"] {
  margin-top: 0; }

.ditty-field-type--checkbox input[type="checkbox"] {
  margin-top: 0; }

/* Radio */
.ditty-field-type--radio .ditty-input--radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }
  .ditty-field-type--radio .ditty-input--radio--inline {
    flex-direction: row;
    align-items: center; }
    .ditty-field-type--radio .ditty-input--radio--inline .ditty-input--radio__option {
      margin-bottom: 0;
      margin-right: 15px; }
      .ditty-field-type--radio .ditty-input--radio--inline .ditty-input--radio__option:last-child {
        margin-right: 0; }
  .ditty-field-type--radio .ditty-input--radio__option {
    margin-bottom: 8px; }
    .ditty-field-type--radio .ditty-input--radio__option:last-child {
      margin-bottom: 0; }

/* Slider */
.ditty-field-type--slider .irs--flat .irs-bar,
.ditty-field-type--slider .irs--flat .irs-from,
.ditty-field-type--slider .irs--flat .irs-to,
.ditty-field-type--slider .irs--flat .irs-single {
  background-color: #39B449; }

.ditty-field-type--slider .irs--flat .irs-from:before,
.ditty-field-type--slider .irs--flat .irs-to:before,
.ditty-field-type--slider .irs--flat .irs-single:before {
  border-top-color: #39B449; }

.ditty-field-type--slider .irs--flat .irs-handle > i:first-child {
  background-color: #39B449; }

.ditty-field-type--slider .irs--flat .irs-handle {
  top: 0; }

.ditty-field-type--slider .irs--flat .irs-line,
.ditty-field-type--slider .irs--flat .irs-bar {
  top: 3px; }

.ditty-field-type--slider .irs-from,
.ditty-field-type--slider .irs-to,
.ditty-field-type--slider .irs-single {
  top: 25px; }

.ditty-field-type--slider .irs--flat .irs-min,
.ditty-field-type--slider .irs--flat .irs-max {
  top: 25px; }

.ditty-field-type--slider .irs--flat .irs-from:before,
.ditty-field-type--slider .irs--flat .irs-to:before,
.ditty-field-type--slider .irs--flat .irs-single:before {
  top: -6px;
  bottom: auto;
  border-top-color: transparent;
  border-bottom-color: #39B449; }

/* Color */
.ditty-field-type--color input[type="text"] {
  height: auto;
  padding-left: 40px !important; }

.ditty-field-type--color .minicolors-theme-default.minicolors {
  width: 100%; }

.ditty-field-type--color .minicolors-theme-default .minicolors-swatch {
  top: 5px;
  left: 5px;
  width: 26px;
  height: 26px; }

/* Spacing */
.ditty-input--spacing__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -2px; }
  .ditty-input--spacing__group .ditty-field {
    width: 25%;
    background: transparent;
    padding: 2px !important;
    margin: 0; }
    .ditty-input--spacing__group .ditty-field__input {
      position: relative;
      border-radius: 3px;
      overflow: hidden; }
      .ditty-input--spacing__group .ditty-field__input:before {
        position: absolute;
        content: '';
        background: #39B449; }
    .ditty-input--spacing__group .ditty-field:nth-child(1) .ditty-field__input:before {
      top: 0;
      left: 0;
      height: 5px;
      width: 100%; }
    .ditty-input--spacing__group .ditty-field:nth-child(2) .ditty-field__input:before {
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%; }
    .ditty-input--spacing__group .ditty-field:nth-child(3) .ditty-field__input:before {
      top: 0;
      left: 0;
      width: 5px;
      height: 100%; }
    .ditty-input--spacing__group .ditty-field:nth-child(4) .ditty-field__input:before {
      top: 0;
      right: 0;
      width: 5px;
      height: 100%; }

/* Radius */
.ditty-input--radius__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -2px; }
  .ditty-input--radius__group .ditty-field {
    width: 25%;
    background: transparent;
    padding: 2px !important;
    margin: 0; }
    .ditty-input--radius__group .ditty-field__input {
      position: relative;
      border-radius: 3px;
      overflow: hidden; }
      .ditty-input--radius__group .ditty-field__input:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 8px solid transparent; }
    .ditty-input--radius__group .ditty-field:nth-child(1) .ditty-field__input:before {
      top: 0;
      left: 0;
      border-top-color: #39B449;
      border-left-color: #39B449; }
    .ditty-input--radius__group .ditty-field:nth-child(2) .ditty-field__input:before {
      top: 0;
      right: 0;
      border-top-color: #39B449;
      border-right-color: #39B449; }
    .ditty-input--radius__group .ditty-field:nth-child(3) .ditty-field__input:before {
      bottom: 0;
      left: 0;
      border-bottom-color: #39B449;
      border-left-color: #39B449; }
    .ditty-input--radius__group .ditty-field:nth-child(4) .ditty-field__input:before {
      bottom: 0;
      right: 0;
      border-bottom-color: #39B449;
      border-right-color: #39B449; }

/* Divider */
.ditty-field-type--divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #FFF;
  background: #32373C; }
  .ditty-field-type--divider .ditty-field__label {
    flex: 0 0 auto;
    margin-bottom: 0;
    margin-right: 10px;
    white-space: nowrap; }
  .ditty-field-type--divider .ditty-field__input {
    flex: 1; }

.ditty-input--divider__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }

.ditty-input--divider__heading {
  flex: 0 0 auto;
  white-space: nowrap;
  margin-right: 10px; }

.ditty-input--divider__line {
  flex: 1;
  background: rgba(0, 0, 0, 0.05); }

.ditty-input--divider__description {
  width: 100%; }

/* Date */
.ditty-field-type--date .ditty-field__input {
  position: relative; }
  .ditty-field-type--date .ditty-field__input:after {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: -1px;
    font-family: 'Font Awesome 5 Pro';
    content: '\f073';
    font-size: 18px;
    opacity: .3;
    transition: opacity .25s ease; }
  .ditty-field-type--date .ditty-field__input:focus-within:after {
    opacity: 1; }
  .ditty-field-type--date .ditty-field__input input[type="text"] {
    padding-left: 32px !important; }

/* WYSIWYG */
.ditty-input--wysiwyg .wp-editor-tabs * {
  box-sizing: content-box; }

.datepicker-container {
  background-color: #fff;
  direction: ltr;
  font-size: 12px;
  left: 0;
  line-height: 30px;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 210px;
  z-index: -1; }
  .datepicker-container::before, .datepicker-container::after {
    border: 5px solid transparent;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    width: 0; }

.datepicker-dropdown {
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px #ccc;
  box-sizing: content-box;
  position: absolute;
  z-index: 1; }

.datepicker-inline {
  position: static; }

.datepicker-top-left, .datepicker-top-right {
  border-top-color: #39f; }
  .datepicker-top-left::before, .datepicker-top-left::after, .datepicker-top-right::before, .datepicker-top-right::after {
    border-top: 0;
    left: 10px;
    top: -5px; }
  .datepicker-top-left::before, .datepicker-top-right::before {
    border-bottom-color: #39f; }
  .datepicker-top-left::after, .datepicker-top-right::after {
    border-bottom-color: #fff;
    top: -4px; }

.datepicker-bottom-left, .datepicker-bottom-right {
  border-bottom-color: #39f; }
  .datepicker-bottom-left::before, .datepicker-bottom-left::after, .datepicker-bottom-right::before, .datepicker-bottom-right::after {
    border-bottom: 0;
    bottom: -5px;
    left: 10px; }
  .datepicker-bottom-left::before, .datepicker-bottom-right::before {
    border-top-color: #39f; }
  .datepicker-bottom-left::after, .datepicker-bottom-right::after {
    border-top-color: #fff;
    bottom: -4px; }

.datepicker-top-right::before, .datepicker-top-right::after, .datepicker-bottom-right::before, .datepicker-bottom-right::after {
  left: auto;
  right: 10px; }

.datepicker-panel > ul {
  margin: 0;
  padding: 0;
  width: 102%; }
  .datepicker-panel > ul::before, .datepicker-panel > ul::after {
    content: " ";
    display: table; }
  .datepicker-panel > ul::after {
    clear: both; }
  .datepicker-panel > ul > li {
    background-color: #fff;
    cursor: pointer;
    float: left;
    height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 30px; }
    .datepicker-panel > ul > li:hover {
      background-color: #e5f2ff; }
    .datepicker-panel > ul > li.muted, .datepicker-panel > ul > li.muted:hover {
      color: #999; }
    .datepicker-panel > ul > li.highlighted {
      background-color: #e5f2ff; }
      .datepicker-panel > ul > li.highlighted:hover {
        background-color: #cce5ff; }
    .datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
      color: #39f; }
    .datepicker-panel > ul > li.disabled, .datepicker-panel > ul > li.disabled:hover {
      background-color: #fff;
      color: #ccc;
      cursor: default; }
      .datepicker-panel > ul > li.disabled.highlighted, .datepicker-panel > ul > li.disabled:hover.highlighted {
        background-color: #e5f2ff; }
    .datepicker-panel > ul > li[data-view="years prev"], .datepicker-panel > ul > li[data-view="year prev"], .datepicker-panel > ul > li[data-view="month prev"], .datepicker-panel > ul > li[data-view="years next"], .datepicker-panel > ul > li[data-view="year next"], .datepicker-panel > ul > li[data-view="month next"], .datepicker-panel > ul > li[data-view="next"] {
      font-size: 18px; }
    .datepicker-panel > ul > li[data-view="years current"], .datepicker-panel > ul > li[data-view="year current"], .datepicker-panel > ul > li[data-view="month current"] {
      width: 150px; }
  .datepicker-panel > ul[data-view="years"] > li, .datepicker-panel > ul[data-view="months"] > li {
    height: 52.5px;
    line-height: 52.5px;
    width: 52.5px; }
  .datepicker-panel > ul[data-view="week"] > li,
  .datepicker-panel > ul[data-view="week"] > li:hover {
    background-color: #fff;
    cursor: default; }

.datepicker-hide {
  display: none; }

#ditty-extensions {
  box-sizing: border-box; }
  #ditty-extensions * {
    box-sizing: border-box; }
  #ditty-extensions .ditty-extensions-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -5px; }
  #ditty-extensions .ditty-extensions-group {
    padding: 20px;
    background: #FFF; }
    #ditty-extensions .ditty-extensions-group > h3 {
      margin-top: 0; }
    #ditty-extensions .ditty-extensions-group--other {
      padding: 20px;
      margin-top: 40px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 5px; }
  #ditty-extensions .ditty-extension {
    width: 100%;
    padding: 5px; }
    #ditty-extensions .ditty-extension__note {
      text-align: left;
      padding: 10px;
      border: 1px solid;
      border-radius: 3px; }
      #ditty-extensions .ditty-extension__note--warning {
        background: #fff8e5;
        border-color: #FEBB00; }
      #ditty-extensions .ditty-extension__note--information {
        background: #e5f5fa;
        border-color: #159FD3; }
    #ditty-extensions .ditty-extension__contents {
      height: 100%;
      background: #f2f2f2;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }
    #ditty-extensions .ditty-extension__header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: #23282E;
      background-size: cover;
      background-position: center center;
      padding: 20px; }
      #ditty-extensions .ditty-extension__header__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;
        overflow: hidden; }
        #ditty-extensions .ditty-extension__header__icon i {
          font-size: 260px;
          color: #FFF;
          -webkit-transform: scale(0.8) rotate(-25deg);
                  transform: scale(0.8) rotate(-25deg);
          transition: -webkit-transform .5s ease;
          transition: transform .5s ease;
          transition: transform .5s ease, -webkit-transform .5s ease; }
      #ditty-extensions .ditty-extension__header__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #23282e;
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
        transition: background-color .5s ease;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden; }
    #ditty-extensions .ditty-extension__icon {
      position: relative;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      font-size: 40px;
      line-height: 40px;
      color: #FFF;
      margin-right: 10px;
      background: #23282E;
      border-radius: 50%;
      border: 4px solid #FFF;
      box-sizing: content-box;
      opacity: 0;
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      transition: opacity .25s ease, -webkit-transform .5s ease;
      transition: transform .5s ease, opacity .25s ease;
      transition: transform .5s ease, opacity .25s ease, -webkit-transform .5s ease;
      transition-delay: .25s;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      #ditty-extensions .ditty-extension__icon img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        -o-object-fit: cover;
           object-fit: cover; }
      #ditty-extensions .ditty-extension__icon__small {
        position: absolute;
        left: -4px;
        top: -4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        font-size: 40px;
        line-height: 40px;
        color: #FFF;
        background: #23282E;
        border-radius: 50%;
        border: 4px solid #FFF;
        box-sizing: content-box;
        transition: border-width .75s ease, -webkit-transform .75s ease;
        transition: transform .75s ease, border-width .75s ease;
        transition: transform .75s ease, border-width .75s ease, -webkit-transform .75s ease;
        transition-delay: .75s; }
    #ditty-extensions .ditty-extension__title {
      position: relative;
      color: #FFF;
      background: rgba(0, 0, 0, 0.8);
      padding: 5px 10px;
      border-radius: 5px;
      margin: 0;
      opacity: 0;
      transition: opacity 1s ease;
      transition-delay: .5s; }
    #ditty-extensions .ditty-extension__preview {
      padding: 20px; }
      #ditty-extensions .ditty-extension__preview__link {
        margin: 0; }
    #ditty-extensions .ditty-extension__tabs {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background: #32373C;
      padding: 5px; }
    #ditty-extensions .ditty-extension__tab {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #FFF;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 3px;
      transition: color .25s ease, background-color .25s ease;
      margin-right: 3px; }
      #ditty-extensions .ditty-extension__tab:last-child {
        margin-right: 0; }
      #ditty-extensions .ditty-extension__tab:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      #ditty-extensions .ditty-extension__tab.active {
        background-color: #39B449; }
    #ditty-extensions .ditty-extension__panel {
      position: relative; }
      #ditty-extensions .ditty-extension__panel__sublabel {
        line-height: 1.4;
        text-transform: uppercase;
        margin: 0; }
      #ditty-extensions .ditty-extension__panel__label {
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: auto; }
    #ditty-extensions .ditty-extension__form {
      padding: 20px; }
      #ditty-extensions .ditty-extension__form > *:first-child {
        margin-top: 0; }
      #ditty-extensions .ditty-extension__form > *:last-child {
        margin-bottom: 0; }
      #ditty-extensions .ditty-extension__form .ditty-field {
        padding-left: 0;
        padding-right: 0; }
        #ditty-extensions .ditty-extension__form .ditty-field:first-child {
          padding-top: 0; }
        #ditty-extensions .ditty-extension__form .ditty-field:last-child {
          padding-bottom: 0; }
    #ditty-extensions .ditty-extension__license__fields {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start; }
    #ditty-extensions .ditty-extension__license__input {
      flex: 1;
      min-width: 100px;
      margin-right: 0;
      border-right: none;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
    #ditty-extensions .ditty-extension__license__submit {
      width: 45px;
      text-align: center;
      color: #FFF;
      background-color: #32373C;
      margin: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
      #ditty-extensions .ditty-extension__license__submit:hover {
        background-color: #39B449; }
    #ditty-extensions .ditty-extension__license__refresh {
      width: 45px;
      text-align: center;
      color: #FFF;
      background-color: #68737d;
      margin: 0;
      border-radius: 0; }
      #ditty-extensions .ditty-extension__license__refresh:hover {
        background-color: #39B449; }
    #ditty-extensions .ditty-extension__license__deactivate {
      width: 45px;
      text-align: center;
      color: #FFF;
      background-color: #32373C;
      margin: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
      #ditty-extensions .ditty-extension__license__deactivate:hover {
        background-color: #39B449; }
    #ditty-extensions .ditty-extension__buttons .ditty-button {
      color: #FFF;
      margin: 10px 0 0; }
      #ditty-extensions .ditty-extension__buttons .ditty-button:hover {
        color: #FFF; }
      #ditty-extensions .ditty-extension__buttons .ditty-button:first-child {
        margin-top: 0; }
      #ditty-extensions .ditty-extension__buttons .ditty-button:last-child {
        margin-bottom: 0; }
    #ditty-extensions .ditty-extension__buttons:empty {
      display: none; }
    #ditty-extensions .ditty-extension__license-notification, #ditty-extensions .ditty-extension__custom-keys-notification {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: rgba(255, 255, 255, 0.8);
      -webkit-backdrop-filter: blur(5px);
              backdrop-filter: blur(5px);
      padding: 20px; }
    #ditty-extensions .ditty-extension__renewal-link {
      display: block;
      margin-top: 5px; }
      #ditty-extensions .ditty-extension__renewal-link a {
        font-weight: bold;
        color: inherit; }
    #ditty-extensions .ditty-extension[data-license_status="valid"] .ditty-extension__license-notification {
      display: none; }
    #ditty-extensions .ditty-extension[data-license_status="valid"] .ditty-extension__license__submit {
      display: none; }
    #ditty-extensions .ditty-extension:not([data-license_status="valid"]) .ditty-extension__license__refresh,
    #ditty-extensions .ditty-extension:not([data-license_status="valid"]) .ditty-extension__license__deactivate {
      display: none; }
    #ditty-extensions .ditty-extension:not([data-license_status="valid"])[data-api_keys="error"] .ditty-extension__custom-keys-notification {
      display: none; }
    #ditty-extensions .ditty-extension:not([data-api_keys="error"]) .ditty-extension__custom-keys-notification {
      display: none; }
    #ditty-extensions .ditty-extension[data-license_status="invalid"] .ditty-extension__header__overlay, #ditty-extensions .ditty-extension[data-license_status="deactivated"] .ditty-extension__header__overlay {
      background-color: rgba(225, 54, 46, 0.5); }
    #ditty-extensions .ditty-extension[data-license_status="invalid"] .ditty-extension__tab[data-slide_id="license"], #ditty-extensions .ditty-extension[data-license_status="deactivated"] .ditty-extension__tab[data-slide_id="license"] {
      background-color: #E1362E; }
    #ditty-extensions .ditty-extension[data-license_status="invalid"] .ditty-extension__license__message, #ditty-extensions .ditty-extension[data-license_status="deactivated"] .ditty-extension__license__message {
      color: #E1362E; }
    #ditty-extensions .ditty-extension[data-api="unauthorized"] .ditty-extension__tab[data-slide_id="api_connect"] {
      background-color: #FEBB00; }
    #ditty-extensions .ditty-extension--init .ditty-extension__header__overlay {
      background: rgba(35, 40, 46, 0.5); }
    #ditty-extensions .ditty-extension--init .ditty-extension__header__icon i {
      -webkit-transform: scale(1) rotate(0);
              transform: scale(1) rotate(0); }
    #ditty-extensions .ditty-extension--init .ditty-extension__icon {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
      #ditty-extensions .ditty-extension--init .ditty-extension__icon__small {
        border-width: 10px;
        -webkit-transform: scale(0.3) translate(-120px, -120px);
                transform: scale(0.3) translate(-120px, -120px); }
    #ditty-extensions .ditty-extension--init .ditty-extension__title {
      opacity: 1; }

@media (min-width: 600px) {
  #ditty-extensions .ditty-extension {
    width: 50%; } }

@media (min-width: 1200px) {
  #ditty-extensions .ditty-extension {
    width: 33.333%; } }

#ditty-extensions-app {
  box-sizing: border-box; }
  #ditty-extensions-app * {
    box-sizing: border-box; }
  #ditty-extensions-app .ditty-extensions-grid {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -5px; }
  #ditty-extensions-app .ditty-extensions-group {
    margin: 10px 0; }
    #ditty-extensions-app .ditty-extensions-group > h3 {
      margin-top: 0; }
    #ditty-extensions-app .ditty-extensions-group--other {
      padding: 20px;
      margin-top: 40px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 5px; }
  #ditty-extensions-app .ditty-extension {
    width: 100%;
    padding: 5px; }
    #ditty-extensions-app .ditty-extension__note {
      padding: 10px;
      border: 1px solid;
      border-radius: 3px; }
      #ditty-extensions-app .ditty-extension__note--warning {
        background: #fff8e5;
        border-color: #FEBB00; }
      #ditty-extensions-app .ditty-extension__note--information {
        background: #e5f5fa;
        border-color: #159FD3; }
    #ditty-extensions-app .ditty-extension__contents {
      height: 100%;
      background: #FFF;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }
    #ditty-extensions-app .ditty-extension__header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: #23282E;
      background-size: cover;
      background-position: center center;
      padding: 20px; }
      #ditty-extensions-app .ditty-extension__header__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;
        overflow: hidden; }
        #ditty-extensions-app .ditty-extension__header__icon i {
          font-size: 260px;
          color: #FFF;
          -webkit-transform: scale(0.8) rotate(-25deg);
                  transform: scale(0.8) rotate(-25deg);
          transition: -webkit-transform .5s ease;
          transition: transform .5s ease;
          transition: transform .5s ease, -webkit-transform .5s ease; }
      #ditty-extensions-app .ditty-extension__header__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #23282e;
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
        transition: background-color .5s ease; }
    #ditty-extensions-app .ditty-extension__icon {
      position: relative;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      font-size: 40px;
      line-height: 40px;
      color: #FFF;
      margin-right: 10px;
      background: #23282E;
      border-radius: 50%;
      border: 4px solid #FFF;
      box-sizing: content-box;
      opacity: 0;
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      transition: opacity .25s ease, -webkit-transform .5s ease;
      transition: transform .5s ease, opacity .25s ease;
      transition: transform .5s ease, opacity .25s ease, -webkit-transform .5s ease;
      transition-delay: .25s;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      #ditty-extensions-app .ditty-extension__icon img {
        width: 80px;
        height: auto;
        border-radius: 50%; }
      #ditty-extensions-app .ditty-extension__icon__small {
        position: absolute;
        left: -4px;
        top: -4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        font-size: 40px;
        line-height: 40px;
        color: #FFF;
        background: #23282E;
        border-radius: 50%;
        border: 4px solid #FFF;
        box-sizing: content-box;
        transition: border-width .75s ease, -webkit-transform .75s ease;
        transition: transform .75s ease, border-width .75s ease;
        transition: transform .75s ease, border-width .75s ease, -webkit-transform .75s ease;
        transition-delay: .75s; }
    #ditty-extensions-app .ditty-extension__title {
      position: relative;
      color: #FFF;
      background: rgba(0, 0, 0, 0.8);
      padding: 5px 10px;
      border-radius: 5px;
      margin: 0;
      opacity: 0;
      transition: opacity 1s ease;
      transition-delay: .5s; }
    #ditty-extensions-app .ditty-extension__preview {
      padding: 20px; }
      #ditty-extensions-app .ditty-extension__preview__link {
        margin: 0; }
    #ditty-extensions-app .ditty-extension__tabs {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background: #32373C;
      padding: 5px; }
    #ditty-extensions-app .ditty-extension__tab {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #FFF;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 3px;
      transition: color .25s ease, background-color .25s ease;
      margin-right: 3px; }
      #ditty-extensions-app .ditty-extension__tab:last-child {
        margin-right: 0; }
      #ditty-extensions-app .ditty-extension__tab:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      #ditty-extensions-app .ditty-extension__tab.active {
        background-color: #39B449; }
    #ditty-extensions-app .ditty-extension__panels {
      position: relative; }
    #ditty-extensions-app .ditty-extension__panel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #FFF; }
      #ditty-extensions-app .ditty-extension__panel__sublabel {
        line-height: 1.4;
        text-transform: uppercase;
        margin: 0; }
      #ditty-extensions-app .ditty-extension__panel__label {
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: auto; }
    #ditty-extensions-app .ditty-extension__form {
      padding: 20px; }
      #ditty-extensions-app .ditty-extension__form > *:first-child {
        margin-top: 0; }
      #ditty-extensions-app .ditty-extension__form > *:last-child {
        margin-bottom: 0; }
    #ditty-extensions-app .ditty-extension__license__fields {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start; }
    #ditty-extensions-app .ditty-extension__license__input {
      flex: 1;
      min-width: 100px;
      margin-right: 0;
      border-right: none;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
    #ditty-extensions-app .ditty-extension__license__submit {
      width: 45px;
      text-align: center;
      color: #FFF;
      background-color: #32373C;
      margin: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
      #ditty-extensions-app .ditty-extension__license__submit:hover {
        background-color: #39B449; }
    #ditty-extensions-app .ditty-extension__license__refresh {
      width: 45px;
      text-align: center;
      color: #FFF;
      background-color: #68737d;
      margin: 0;
      border-radius: 0; }
      #ditty-extensions-app .ditty-extension__license__refresh:hover {
        background-color: #39B449; }
    #ditty-extensions-app .ditty-extension__license__deactivate {
      width: 45px;
      text-align: center;
      color: #FFF;
      background-color: #32373C;
      margin: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
      #ditty-extensions-app .ditty-extension__license__deactivate:hover {
        background-color: #39B449; }
    #ditty-extensions-app .ditty-extension__buttons .ditty-button {
      color: #FFF;
      margin: 10px 0 0; }
      #ditty-extensions-app .ditty-extension__buttons .ditty-button:hover {
        color: #FFF; }
      #ditty-extensions-app .ditty-extension__buttons .ditty-button:first-child {
        margin-top: 0; }
      #ditty-extensions-app .ditty-extension__buttons .ditty-button:last-child {
        margin-bottom: 0; }
    #ditty-extensions-app .ditty-extension__buttons:empty {
      display: none; }
    #ditty-extensions-app .ditty-extension__license-notification, #ditty-extensions-app .ditty-extension__custom-keys-notification {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: rgba(255, 255, 255, 0.8);
      -webkit-backdrop-filter: blur(5px);
              backdrop-filter: blur(5px);
      padding: 20px; }
    #ditty-extensions-app .ditty-extension__renewal-link {
      display: block;
      margin-top: 5px; }
      #ditty-extensions-app .ditty-extension__renewal-link a {
        font-weight: bold;
        color: inherit; }
    #ditty-extensions-app .ditty-extension--valid .ditty-extension__license-notification {
      display: none; }
    #ditty-extensions-app .ditty-extension:not([data-license_status="valid"])[data-api_keys="error"] .ditty-extension__custom-keys-notification {
      display: none; }
    #ditty-extensions-app .ditty-extension:not([data-api_keys="error"]) .ditty-extension__custom-keys-notification {
      display: none; }
    #ditty-extensions-app .ditty-extension--failed .ditty-extension__header__overlay, #ditty-extensions-app .ditty-extension--invalid .ditty-extension__header__overlay, #ditty-extensions-app .ditty-extension--deactivated .ditty-extension__header__overlay {
      background-color: rgba(225, 54, 46, 0.5) !important; }
    #ditty-extensions-app .ditty-extension--failed .ditty-extension__tab--license, #ditty-extensions-app .ditty-extension--invalid .ditty-extension__tab--license, #ditty-extensions-app .ditty-extension--deactivated .ditty-extension__tab--license {
      background-color: #E1362E !important; }
    #ditty-extensions-app .ditty-extension--failed .ditty-extension__license__message, #ditty-extensions-app .ditty-extension--invalid .ditty-extension__license__message, #ditty-extensions-app .ditty-extension--deactivated .ditty-extension__license__message {
      color: #E1362E; }
    #ditty-extensions-app .ditty-extension--unauthorized .ditty-extension__tab--api_connect {
      background-color: #FEBB00; }
    #ditty-extensions-app .ditty-extension--init .ditty-extension__header__overlay {
      background: rgba(35, 40, 46, 0.5); }
    #ditty-extensions-app .ditty-extension--init .ditty-extension__header__icon i {
      -webkit-transform: scale(1) rotate(0);
              transform: scale(1) rotate(0); }
    #ditty-extensions-app .ditty-extension--init .ditty-extension__icon {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
      #ditty-extensions-app .ditty-extension--init .ditty-extension__icon__small {
        border-width: 10px;
        -webkit-transform: scale(0.3) translate(-120px, -120px);
                transform: scale(0.3) translate(-120px, -120px); }
    #ditty-extensions-app .ditty-extension--init .ditty-extension__title {
      opacity: 1; }

@media (min-width: 600px) {
  #ditty-extensions-app .ditty-extension {
    width: 50%; } }

@media (min-width: 1200px) {
  #ditty-extensions-app .ditty-extension {
    width: 33.333%; } }

@media (min-width: 1600px) {
  #ditty-extensions-app .ditty-extension {
    width: 25%; } }

@media (min-width: 2000px) {
  #ditty-extensions-app .ditty-extension {
    width: 20%; } }

#ditty-extensions .ditty-extension--instagram .ditty-extension__header,
#ditty-extensions .ditty-extension--instagram .ditty-extension__icon,
#ditty-extensions .ditty-extension--instagram .ditty-extension__icon__small,
#ditty-extensions-app .ditty-extension--instagram .ditty-extension__header,
#ditty-extensions-app .ditty-extension--instagram .ditty-extension__icon,
#ditty-extensions-app .ditty-extension--instagram .ditty-extension__icon__small {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }

#ditty-extensions .ditty-extension--instagram .ditty-button:hover,
#ditty-extensions .ditty-extension--instagram .ditty-button--primary,
#ditty-extensions .ditty-extension--instagram .ditty-extension__tab.active,
#ditty-extensions-app .ditty-extension--instagram .ditty-button:hover,
#ditty-extensions-app .ditty-extension--instagram .ditty-button--primary,
#ditty-extensions-app .ditty-extension--instagram .ditty-extension__tab.active {
  background-color: #e1306c; }

#ditty-extensions .ditty-extension--images .ditty-extension__header,
#ditty-extensions .ditty-extension--images .ditty-extension__header,
#ditty-extensions .ditty-extension--images .ditty-extension__icon,
#ditty-extensions .ditty-extension--images .ditty-extension__icon__small,
#ditty-extensions .ditty-extension--images .ditty-button:hover,
#ditty-extensions .ditty-extension--images .ditty-button--primary,
#ditty-extensions .ditty-extension--images .ditty-extension__tab.active,
#ditty-extensions-app .ditty-extension--images .ditty-extension__header,
#ditty-extensions-app .ditty-extension--images .ditty-extension__header,
#ditty-extensions-app .ditty-extension--images .ditty-extension__icon,
#ditty-extensions-app .ditty-extension--images .ditty-extension__icon__small,
#ditty-extensions-app .ditty-extension--images .ditty-button:hover,
#ditty-extensions-app .ditty-extension--images .ditty-button--primary,
#ditty-extensions-app .ditty-extension--images .ditty-extension__tab.active {
  background-color: #21759b; }

#ditty-extensions .ditty-extension--facebook .ditty-extension__header,
#ditty-extensions .ditty-extension--facebook .ditty-extension__icon,
#ditty-extensions .ditty-extension--facebook .ditty-extension__icon__small,
#ditty-extensions .ditty-extension--facebook .ditty-button:hover,
#ditty-extensions .ditty-extension--facebook .ditty-button--primary,
#ditty-extensions .ditty-extension--facebook .ditty-extension__tab.active,
#ditty-extensions-app .ditty-extension--facebook .ditty-extension__header,
#ditty-extensions-app .ditty-extension--facebook .ditty-extension__icon,
#ditty-extensions-app .ditty-extension--facebook .ditty-extension__icon__small,
#ditty-extensions-app .ditty-extension--facebook .ditty-button:hover,
#ditty-extensions-app .ditty-extension--facebook .ditty-button--primary,
#ditty-extensions-app .ditty-extension--facebook .ditty-extension__tab.active {
  background-color: #3b5998; }

#ditty-extensions .ditty-extension--rss .ditty-extension__header,
#ditty-extensions .ditty-extension--rss .ditty-extension__icon,
#ditty-extensions .ditty-extension--rss .ditty-extension__icon__small,
#ditty-extensions .ditty-extension--rss .ditty-button:hover,
#ditty-extensions .ditty-extension--rss .ditty-button--primary,
#ditty-extensions .ditty-extension--rss .ditty-extension__tab.active,
#ditty-extensions-app .ditty-extension--rss .ditty-extension__header,
#ditty-extensions-app .ditty-extension--rss .ditty-extension__icon,
#ditty-extensions-app .ditty-extension--rss .ditty-extension__icon__small,
#ditty-extensions-app .ditty-extension--rss .ditty-button:hover,
#ditty-extensions-app .ditty-extension--rss .ditty-button--primary,
#ditty-extensions-app .ditty-extension--rss .ditty-extension__tab.active {
  background-color: #ee802f; }

#ditty-extensions .ditty-extension--timing .ditty-extension__header,
#ditty-extensions .ditty-extension--timing .ditty-extension__icon,
#ditty-extensions .ditty-extension--timing .ditty-extension__icon__small,
#ditty-extensions .ditty-extension--timing .ditty-button:hover,
#ditty-extensions .ditty-extension--timing .ditty-button--primary,
#ditty-extensions .ditty-extension--timing .ditty-extension__tab.active,
#ditty-extensions-app .ditty-extension--timing .ditty-extension__header,
#ditty-extensions-app .ditty-extension--timing .ditty-extension__icon,
#ditty-extensions-app .ditty-extension--timing .ditty-extension__icon__small,
#ditty-extensions-app .ditty-extension--timing .ditty-button:hover,
#ditty-extensions-app .ditty-extension--timing .ditty-button--primary,
#ditty-extensions-app .ditty-extension--timing .ditty-extension__tab.active {
  background-color: #39B449; }

#ditty-extensions .ditty-extension--twitter .ditty-extension__header,
#ditty-extensions .ditty-extension--twitter .ditty-extension__icon,
#ditty-extensions .ditty-extension--twitter .ditty-extension__icon__small,
#ditty-extensions .ditty-extension--twitter .ditty-button:hover,
#ditty-extensions .ditty-extension--twitter .ditty-button--primary,
#ditty-extensions .ditty-extension--twitter .ditty-extension__tab.active,
#ditty-extensions-app .ditty-extension--twitter .ditty-extension__header,
#ditty-extensions-app .ditty-extension--twitter .ditty-extension__icon,
#ditty-extensions-app .ditty-extension--twitter .ditty-extension__icon__small,
#ditty-extensions-app .ditty-extension--twitter .ditty-button:hover,
#ditty-extensions-app .ditty-extension--twitter .ditty-button--primary,
#ditty-extensions-app .ditty-extension--twitter .ditty-extension__tab.active {
  background-color: #1DA1F2; }

#ditty-layout-html .inside,
#ditty-layout-html .ditty-field,
#ditty-layout-css .inside,
#ditty-layout-css .ditty-field {
  padding: 0;
  margin: 0; }
  #ditty-layout-html .inside__input,
  #ditty-layout-html .ditty-field__input,
  #ditty-layout-css .inside__input,
  #ditty-layout-css .ditty-field__input {
    margin: 0; }

#ditty-layout-html .CodeMirror,
#ditty-layout-css .CodeMirror {
  resize: vertical; }

#ditty-page {
  width: 1200px;
  max-width: calc( 100% - 22px);
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  margin-top: 22px;
  overflow: hidden; }
  #ditty-page__header {
    box-sizing: border-box;
    padding: 20px;
    background: #FFF;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  #ditty-page__version {
    margin-bottom: 20px; }
  #ditty-page__title {
    font-weight: bold; }
  #ditty-page__logo__image {
    display: block;
    line-height: 0;
    width: 200px;
    height: auto; }
  #ditty-page__content {
    box-sizing: border-box;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto; }
    #ditty-page__content hr {
      margin: 40px 0; }

@media screen and (max-width: 782px) {
  #ditty-page {
    max-width: calc( 100% - 10px);
    margin-top: 10px; } }

#ditty-settings {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start; }
  #ditty-settings.updating .ditty-updating-overlay {
    display: block; }

.ditty-settings__header, .ditty-settings__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px; }
  .ditty-settings__header .ditty-button, .ditty-settings__footer .ditty-button {
    margin: 0; }

.ditty-settings__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.ditty-settings__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.ditty-settings__tabs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 250px;
  background: #32373C;
  padding-top: 1em !important;
  padding-bottom: 1em !important; }

.ditty-settings__tab {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 34px;
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
  padding: 8px 4px 8px 25px;
  text-align: center;
  text-decoration: none;
  background-color: #32373C;
  border: none;
  transition: color .25s ease, background-color .25s ease; }
  .ditty-settings__tab i {
    position: absolute;
    top: 10px;
    display: block;
    font-size: 14px; }
  .ditty-settings__tab span {
    display: block;
    padding-left: 30px; }
  .ditty-settings__tab:focus {
    color: #FFF;
    outline: none;
    box-shadow: none; }
  .ditty-settings__tab:hover {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2); }
  .ditty-settings__tab.active {
    background-color: #39B449; }
    .ditty-settings__tab.active:after {
      right: 0;
      border: 9px solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: #fff;
      top: 50%;
      margin-top: -8px; }

.ditty-settings__panel {
  display: none; }
  .ditty-settings__panel > .ditty-field {
    padding-left: 30px;
    padding-right: 30px; }

.ditty-settings__form {
  position: relative;
  flex: 1;
  background: #FFF; }

.ditty-settings__save.has-updates {
  background-color: orange; }

/* Default Layouts & Displays */
.ditty-field--layout_templates .ditty-field__heading,
.ditty-field--display_templates .ditty-field__heading {
  display: none; }

.ditty-field--layout_templates .ditty-templates-list__type,
.ditty-field--display_templates .ditty-templates-list__type {
  margin-bottom: 30px; }
  .ditty-field--layout_templates .ditty-templates-list__type h3,
  .ditty-field--display_templates .ditty-templates-list__type h3 {
    font-size: 1.2em;
    margin: 0 0 10px; }

.ditty-field--layout_templates .ditty-templates-list__template,
.ditty-field--display_templates .ditty-templates-list__template {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #F2F2F2;
  border-radius: 3px; }
  .ditty-field--layout_templates .ditty-templates-list__template h4,
  .ditty-field--display_templates .ditty-templates-list__template h4 {
    font-size: 1.1em;
    margin: 0 0 3px; }
  .ditty-field--layout_templates .ditty-templates-list__template p,
  .ditty-field--display_templates .ditty-templates-list__template p {
    margin: 0; }
  .ditty-field--layout_templates .ditty-templates-list__template .ditty-button,
  .ditty-field--display_templates .ditty-templates-list__template .ditty-button {
    margin: 0; }
    .ditty-field--layout_templates .ditty-templates-list__template .ditty-button i,
    .ditty-field--display_templates .ditty-templates-list__template .ditty-button i {
      margin-left: 10px; }

/* Global Dittys */
.ditty-field--global_ditty .ditty-input--clone {
  margin-bottom: 5px; }

.ditty-field--global_ditty .ditty-field-type--group-child {
  width: 100%; }

@media (max-width: 600px) {
  .ditty-settings__tabs {
    width: 44px; }
  .ditty-settings__tab {
    padding: 10px 4px 10px 14px;
    width: auto; }
    .ditty-settings__tab span {
      display: none; }
  .ditty-settings__panel > .ditty-field {
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 500px) {
  /* Global Dittys */
  .ditty-field--global_ditty .ditty-field--selector {
    width: 60%; }
  .ditty-field--global_ditty .ditty-field--position {
    width: 40%; }
  .ditty-field--global_ditty .ditty-field--ditty,
  .ditty-field--global_ditty .ditty-field--display {
    width: 50%; }
  .ditty-field--global_ditty .ditty-field--custom_id {
    width: 40%; }
  .ditty-field--global_ditty .ditty-field--custom_classes {
    width: 60%; } }

@media (min-width: 1000px) {
  .ditty-settings__panel:not(.ditty-settings__panel--global_ditty) > .ditty-field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; }
    .ditty-settings__panel:not(.ditty-settings__panel--global_ditty) > .ditty-field > .ditty-field__heading {
      flex: 0 0 200px;
      margin-right: 30px; }
      .ditty-settings__panel:not(.ditty-settings__panel--global_ditty) > .ditty-field > .ditty-field__heading > .ditty-field__label,
      .ditty-settings__panel:not(.ditty-settings__panel--global_ditty) > .ditty-field > .ditty-field__heading > .ditty-field__description {
        margin-bottom: 0; }
    .ditty-settings__panel:not(.ditty-settings__panel--global_ditty) > .ditty-field > .ditty-field__input__container {
      width: 100%; }
      .ditty-settings__panel:not(.ditty-settings__panel--global_ditty) > .ditty-field > .ditty-field__input__container > .ditty-field__input {
        margin-top: 0; } }

.ditty-section {
  background: #FFF;
  padding: 40px; }
  .ditty-section--intro {
    color: #FFF;
    text-align: center;
    background: #1D2327; }
    .ditty-section--intro p {
      font-weight: 300; }

.ditty-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: -20px;
  margin-right: -20px; }

.ditty-column {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box; }

.ditty-container {
  margin-bottom: 30px; }
  .ditty-container--details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; }
    .ditty-container--details i {
      flex: 0 0 auto;
      width: 35px;
      font-size: 30px;
      line-height: 30px;
      margin-right: 10px; }
    .ditty-container--details__content {
      flex: 1; }
    .ditty-container--details h3 {
      margin-top: 0;
      margin-bottom: 5px; }
    .ditty-container--details p {
      margin-top: 5px; }

@media (min-width: 651px) {
  .ditty-column--1_2 {
    width: 50%; } }

.ditty-page__contents {
  padding: 20px; }

.ditty-page__header h2 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  color: #FFF;
  margin: 0; }
