#adminmenu .menu-icon-ditty div.wp-menu-image.svg {
  background-size: 16px auto;
}

.fusion-module-icon.ditty {
  width: 15px;
  height: 15px;
  background: url("../img/d.svg");
  margin-bottom: -2px;
}
