$dark_gray: #1d2327;
$medium_gray: #323438;
$light_gray: #f0f0f1;
$lighter_gray: #f7f7f7;
$green: #19bf7c;
$light_green: lighten($green, 53%);

$red: #be1919;
$blue: #1976be;

$border_color_light: #ccc;
$border_color_dark: #aaa;

$input_border_color: #dfdfdf;
