$ditty_primary: #39b44a;
$toggle_color_active: #FFF;
$toggle_bg_color_active: #0073aa;
$border_color: #DDD;
$error_color: #a00;
$delete_color: #a00;
$delete_color_hover: #dc3232;

$fresh_text: #fff;
$fresh_primary: #0073aa;
$fresh_secondary: #23282d;
$fresh_tirtiary: #32373c;

$light_text: #333;
$light_primary: #888;
$light_secondary: #e5e5e5;
$light_tirtiary: #fff;

$blue_text: #fff;
$blue_primary: #096484;
$blue_secondary: #52accc;
$blue_tirtiary: #4796b3;

$coffee_text: #fff;
$coffee_primary: #c7a589;
$coffee_secondary: #59524c;
$coffee_tirtiary: #46403c;

$ectoplasm_text: #fff;
$ectoplasm_primary: #a3b745;
$ectoplasm_secondary: #523f6d;
$ectoplasm_tirtiary: #413256;

$midnight_text: #fff;
$midnight_primary: #e14d43;
$midnight_secondary: #363b3f;
$midnight_tirtiary: #26292c;

$ocean_text: #fff;
$ocean_primary: #9ebaa0;
$ocean_secondary: #738e96;
$ocean_tirtiary: #627c83;

$sunrise_text: #fff;
$sunrise_primary: #dd823b;
$sunrise_secondary: #cf4944;
$sunrise_tirtiary: #be3631;








$blue: #0073aa;
$green: #19BF7C;

$ditty_highlight_1: $blue;