// Button
.ditty-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #23282d;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.25s ease, background-color 0.25s ease;
  &.is-primary {
    color: #fff;
    background: $green;
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}

// Button Group
.ditty-button-group {
  display: flex;
  gap: 10px;
  &.is-tabbed {
    align-items: stretch;
    justify-content: flex-start;
    background: #32373c;
    border-radius: 3px;
    overflow: hidden;
    gap: 1px;
    .ditty-button {
      border-radius: 0;
    }
  }
}

// Filter
.ditty-filter {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  &__search {
    flex: 1;
  }
  .ditty-button {
    height: 36px;
    &.active {
      color: #fff;
      background: $green;
    }
  }
}

// Icon Block
.ditty-icon-block {
  display: flex;
  &__icon {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 3px;
    margin-right: 10px;
    svg {
      width: 40%;
      height: 40%;
      min-width: 15px;
      min-height: 15px;
      max-width: 25px;
      max-height: 25px;
    }
  }
  &__contents {
    flex: 1;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0 0 5px;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

// Icon Button
.ditty-icon-button {
  height: 60px;
  min-width: 60px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: transparentize($dark_gray, 0.2);
  background: rgba(0, 0, 0, 0.02);
  border: none;
  border-radius: 3px;
  padding: 5px;
  &:hover {
    &:not(.ditty-icon-button--active) {
      color: $dark_gray;
      background: rgba(0, 0, 0, 0.05);
    }
  }
  &--active {
    background: $green;
    .ditty-icon-button__icon {
      display: block;
      color: #fff;
    }
    .ditty-icon-button__label {
      color: #fff;
    }
  }
  &__icon {
    height: 20px;
    flex: 0 0 auto;
  }
  &__label {
    display: block;
    font-size: 11px;
    font-weight: 400;
    margin-top: 5px;
    flex: 0 0 auto;
  }
}

// Link
.ditty-link {
  color: $medium_gray;
  text-decoration: underline;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  &:hover {
    color: $dark_gray;
  }
}

// Popup
.ditty-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  &__contents {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 3px;
    margin-top: 10px;
  }
  &__header {
    padding: 10px;
    border-bottom: 1px solid $border_color_light;
  }
  &__body {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  &__scroll {
    min-height: 100%;
  }
  &__footer {
    border-top: 1px solid $border_color_light;
    .ditty-button-group {
      padding: 15px;
    }
  }
  &--level-2 {
    z-index: 999;
    .ditty-popup__contents {
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      margin-top: 20px;
    }
  }
}
