.ditty-popup--displayTypeSelect {
  .displayTypeSelector {
    padding: 10px;
  }
}
.displayTypeSelector {
  .ditty-tab {
    width: 100px;
    height: 100px;
  }
}
.ditty-popup--displayTemplateSelector {
  .ditty-popup__header {
    padding: 0;
    .ditty-icon-block {
      padding: 10px;
    }
  }
  .ditty-tabs {
    border-top: 1px solid #ccc;
    border-bottom: none;
    .ditty-tab {
      &--active {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
      }
      &:first-child.ditty-tab--active {
        border-left: none;
      }
    }
  }
  .ditty-filter {
    border-top: 1px solid #ccc;
    padding: 15px;
  }
  .ditty-editor-item {
    cursor: pointer;
    &__content {
      h3 {
        margin: 0;
      }
    }
  }
}

.displayEditType {
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 15px 5px 5px;
  background: #1d2327;
  border-radius: 3px;
  .ditty-icon-block__icon {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 2px;
  }
  .ditty-icon-block__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex: 1;
    h3 {
      margin-bottom: 0;
    }
    * {
      color: #fff;
    }
  }
}

.ditty-display-template {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 3px;
  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  &__icon {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ccc;
    margin-right: 10px;
    i,
    svg {
      display: block;
      font-size: 15px;
      text-align: center;
      line-height: 40px;
    }
  }
  &__title {
    margin: 0;
  }
  &__type {
    margin: 0;
  }
  &__postid {
    margin: 0;
  }
}
