.ditty-editor {
  &__wrapper {
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
  }
  &__contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
.ditty-editor-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  overflow: hidden;
  transition: background-color 0.25s ease, border-color 0.25s ease;
  &.active {
    background: #eee;
  }
  &__icon {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 3px;
    margin-right: 10px;
    i,
    svg {
      display: block;
      font-size: 15px;
      text-align: center;
      line-height: 40px;
    }
  }
  &__label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__layout,
  &__settings {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.25s ease;
    &:hover {
      background: $border_color_light;
    }
    i {
      display: block;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
    }
  }
}
.ditty-list--sortable {
  .ditty-editor-item {
    cursor: grab;
    &:hover:active {
      cursor: grabbing;
    }
  }
}

.ditty-icon-block.editType {
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 15px 5px 5px;
  background: #1d2327;
  border-radius: 3px;
  .ditty-icon-block__icon {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 2px;
  }
  .ditty-icon-block__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex: 1;
    h3 {
      margin-bottom: 0;
    }
    * {
      color: #fff;
    }
  }
}

.ditty-popup--templateSave,
.ditty-popup--templateSelector {
  .ditty-popup__header {
    padding: 0;
    .ditty-icon-block {
      padding: 10px;
    }
  }
  .ditty-tabs {
    border-top: 1px solid #ccc;
    border-bottom: none;
    .ditty-tab {
      &--active {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
      }
      &:first-child.ditty-tab--active {
        border-left: none;
      }
    }
  }
  .ditty-filter {
    border-top: 1px solid #ccc;
    padding: 15px;
  }
  .ditty-editor-item {
    cursor: pointer;
    &__content {
      h3 {
        margin: 0;
      }
    }
  }
}
