.ditty-field {
  padding: 15px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  &__label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__help-icon {
    color: #93999f;
  }
  &__help {
    font-size: 13px;
    line-height: 16px;
    margin: 7px 0 10px;
  }
  &--help {
    .ditty-field__help-icon {
      color: $green;
    }
  }
}

.ditty-field__input--inline {
  .components-flex {
    flex-direction: row;
    justify-content: flex-start;
    > * {
      margin-right: 15px;
    }
  }
}
