.toplevel_page_ditty {
  background: #fff;
  overflow: hidden;
  #wpcontent {
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }
  #wpbody {
    flex: 1;
  }
  #wpbody-content {
    padding: 0;
    float: none;
  }
}
#ditty-editor {
  height: calc(100% - 100px);
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
    .wp-admin & {
      height: calc(100vh - 32px);
    }
  }
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &__preview {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    body {
      margin: 0;
    }
  }
  &__editor {
    position: relative;
    width: 350px;
    max-width: 50%;
    height: 100%;
    background: #fff;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    &__sizer {
      position: absolute;
      top: 0;
      left: -5px;
      z-index: 9;
      width: 5px;
      height: 100%;
      background: transparentize($border_color_dark, 0.8);
      cursor: ew-resize;
      transition: background-color 0.25s ease;
      &:hover {
        background-color: $border_color_dark;
      }
    }
    * {
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 782px) {
  #ditty-editor {
    flex-direction: column;
    &__wrapper {
      .wp-admin & {
        height: calc(100vh - 46px);
      }
    }
    &__editor {
      width: 100% !important;
      max-width: 100% !important;
      height: 350px;
      &__sizer {
        top: -5px;
        left: 0;
        height: 5px;
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 782px) {
  #ditty-editor {
    &__wrapper {
      .wp-admin & {
        height: calc(100vh - 46px);
      }
    }
    &__editor {
      height: 100%;
    }
  }
}
