.toplevel_page_ditty {
  background: #fff;
  overflow: hidden;
  #wpcontent {
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }
  #wpbody {
    flex: 1;
  }
  #wpbody-content {
    padding: 0;
    float: none;
  }
}
#ditty-editor {
  height: calc(100% - 100px);
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
    .wp-admin & {
      height: calc(100vh - 32px);
    }
  }
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &__preview {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    body {
      margin: 0;
    }
  }
  &__editor {
    width: 350px;
    height: 100%;
    background: #fff;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
    // .wp-admin & {
    //   top: 32px;
    // }
    // > .ditty-tabs {
    //   border-bottom: 1px solid #616b75;
    // }
  }
}
