.ditty-popup--typeSelect {
  .typeSelector {
    padding: 10px;
  }
}
.typeSelector {
  .ditty-tab {
    width: 100px;
    height: 100px;
  }
}
.ditty-editor__panel--itemTypes {
  .ditty-editor-item__content {
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}
