.ditty-popup--typeSelect {
  .typeSelector {
    padding: 10px;
  }
}
.typeSelector {
  justify-content: flex-start;
  .ditty-tab {
    width: 94px;
    height: 94px;
  }
}
.ditty-editor__panel--itemEdit {
  .ditty-editor__panel__header {
    > * {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.ditty-popup--itemEdit {
  .ditty-popup__header {
    padding: 0;
    .ditty-icon-block {
      padding: 10px;
      &__contents {
        overflow: hidden;
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
.itemEdit__header {
  &__type {
    display: flex;
    align-content: flex-end;
    gap: 5px;
    h2 {
      margin-bottom: 0;
    }
  }
  &__tabs {
    border-top: 1px solid $border_color_light;
    padding: 10px;
  }
}
