.ditty-popup--typeSelect {
  .typeSelector {
    padding: 10px;
  }
}
.typeSelector {
  justify-content: space-between;
  .ditty-tab {
    width: 94px;
    height: 94px;
  }
}
.ditty-editor__panel--itemEdit {
  .ditty-editor__panel__header {
    > * {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
