.ditty-editor__panels {
  flex: 1;
  height: calc(100% - 60px);
  overflow: hidden;
  > .ditty-editor__panel {
    height: 100%;
    > .ditty-editor__panel__content {
      //padding: 10px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
}
.ditty-editor__panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &__header {
    flex: 0 0 auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    &__buttons {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__content {
    flex: 1;
  }
  &__footer {
    flex: 0 0 auto;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #ccc;
    &__buttons {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  .ditty-tabs--cloud {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
}
