.ditty-editor__panel--displays {
  .ditty-editor-item {
    cursor: pointer;
  }
}
.ditty-editor__panel--displayTypes {
  .ditty-editor-item__content {
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}
