.ditty-editor {
  &__wrapper {
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
  }
  &__contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__tabs {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1px;
    height: 40px;
    font-size: 14px;
    background: #e8e9eb;
    &--primary {
      height: 60px;
      background: #32373c;
      .ditty-editor__tab {
        color: rgba(255, 255, 255, 0.8);
        background: #32373c;
        &:hover {
          &:not(.ditty-editor__tab--active) {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
        &--active {
          color: #fff;
          background-color: $green;
        }
      }
    }
    &--secondary {
      border-bottom: 1px solid #ccc;
    }
  }
  &__tab {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 62px;
    font-weight: 600;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #616970;
    background: #f2f3f5;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: color 0.25s ease, background-color 0.25s ease;
    &:hover {
      &:not(.ditty-editor__tab--active) {
        color: #fff;
        background-color: $green;
      }
    }
    &--active {
      width: auto;
      color: $green;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #fff;
    }
    &__icon {
      flex: 0 0 auto;
      display: block;
      font-size: 18px;
    }
    &__label {
      flex: 1;
      display: block;
    }
  }
  &__panels {
    flex: 1;
    height: calc(100% - 60px);
    overflow: hidden;
    > .ditty-editor__panel {
      height: 100%;
      > .ditty-editor__panel__content {
        padding: 10px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
  &__panel {
    //height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &__header {
      flex: 0 0 auto;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      &__buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
    &__content {
      flex: 1;
      //overflow-y: scroll;
      //-webkit-overflow-scrolling: touch;
    }
  }
}
.ditty-editor-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 0 0 5px;
  border-radius: 3px;
  overflow: hidden;
  transition: background-color 0.25s ease, border-color 0.25s ease;
  &.active {
    background: #eee;
  }
  &__icon {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ccc;
    margin-right: 10px;
    i,
    svg {
      display: block;
      font-size: 15px;
      text-align: center;
      line-height: 40px;
    }
  }
  &__label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__settings {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      background: orange;
    }
    i {
      display: block;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
    }
  }
}
.ditty-list--sortable {
  .ditty-editor-item {
    cursor: grab;
    &:hover:active {
      cursor: grabbing;
    }
  }
}
