$success: #ecf7ed;
$success_dark: #3DB44C;
$error: #fbeaea;
$error_dark: #E1362E;
$warning: #fff8e5;
$warning_dark: #FEBB00;
$info: #e5f5fa;
$info_dark: #159FD3;

$ui_dark: #52656B;
$ui_light: #FFFFFF;
$ui_primary_1: #CDFF00;
$ui_primary_2: #FF3B77;
$ui_secondary: #B8B89F;