@media screen and (max-width: 782px) {
  #ditty-editor,
  #ditty-display-editor {
    flex-direction: column;
    &__editor {
      width: 100% !important;
      max-width: 100% !important;
      height: 350px;
    }
    &__sizer {
      top: -5px;
      left: 0;
      height: 5px;
      width: 100%;
      cursor: ns-resize;
    }
  }
}
@media screen and (min-width: 782px) {
  #ditty-editor,
  #ditty-display-editor {
    &__editor {
      max-width: calc(100% - 100px);
      height: 100% !important;
    }
  }
}
