#ditty-display-settings.postbox {
	.inside {
		padding: 0;
		margin: 0;
		.ditty-display-admin-settings {
			box-sizing: border-box;
			* {
				box-sizing: border-box;
			}
			> .ditty-field-type--group {
				> .ditty-field__input__container {
					padding-left: 12px;
					padding-right: 12px;
				}
			}
		}
	}
}