.ditty-ticker {
	box-sizing: border-box;
	//transition: background .25s ease, padding .25s ease, border-radius .25s ease; 
	* {
		box-sizing: border-box;
	}
	display: flex;
	flex-direction: column;
	&[data-title="bottom"] {
		.ditty-ticker__title {
			order: 1;	
		}
		.ditty-ticker__contents {
			order: 0;	
		}
	}
	&[data-title="left"],
	&[data-title="right"] {
		flex-direction: row;
		align-items: stretch;
		.ditty-ticker__title {
			flex: 0 0 auto;
			&__contents {
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
			}
		}
		&[data-title="right"] {
			.ditty-ticker__title {
				order: 1;	
			}
			.ditty-ticker__contents {
				order: 0;	
			}
		}
	}
	&__contents {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	&__items {
		width: 100%;
		position: relative;
		overflow: hidden;
	}
	.ditty-item {
		display: none;
		position: absolute;
		line-height: 1;
/*
		&--current {
			color: green;
		}
		&--last {
			color: red;
			&.ditty-item--current {
				color: purple;
			}
		}
*/
	}
}